
   <div class="d-flex justify-content-center">
         <div class="cnote-entry-container px-1 col-md-8 ">
            <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
                <i class="fas fa-filter me-2"></i>
                Docket Financial Edit Criteria
            </div>
            <div class="form-grid p-4">
                <div class="row align-items-center justify-content-center mb-3">
                    <div class="col-md-1 text-end">
                        <label class="form-label fw-semibold">
                            CNote No.
                        </label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control required2" placeholder="Enter CNote No." [(ngModel)]="docketNo">
                    </div>
                </div>

                <div class="p-4 bg-light">
                    <div class="col-md-12 d-flex justify-content-center gap-2">
                        <div class="col-md-8">
                            <button type="button" class="btn background-color text-white btn-sm px-3" (click)="getcheckEditDocket()"><i
                                    class="fas fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   </div>