<div class="cnote-entry-container px-1">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fa fa-edit me-2"></i>
    CNote Entry - Freight Details
  </div>
  <div *ngIf="docketService.contractMessage !== '-'" class="text-danger text-start fw-bold"
    style="font-size: 13px!important">
    {{ docketService.contractMessage }}
  </div>

<div class="mt-3"  [ngClass]="this.docketService.isComplition ? '':'d-none'">
  <button class="btn btn-primary btn-sm fw-bold cursor-pointer"  (click)="docketService.freightAndOtherChar()">
    Invoke Contract
  </button>
</div>

  <div class="form-grid p-4">
    <form [formGroup]="docketService.freightForm">
      <div class="row">
        <div class="col-md-4">
        <div [ngClass]="{ 'hidden': !docketService.isBillingTBB , 'd-none': this.docketService.loginUserList.Type === '1' }">
            <div class="form-group">
            <label class="control-label col-md-5">Freight Charges</label>
            <div class="col-md-7">
              <!-- <input class="required2 form-control required text-end" placeholder="Freight Charges" type="number"
                value="0" formControlName="freightCharges" readonly> -->
              <input type="number" class="form-control text-end" placeholder="Freight Charges" (input)="docketService.onchangeRateType()"
                formControlName="freightCharges" min="0.01" step="0.01"  [readOnly]="((docketService.basicDetailForm.get('serviceType')?.value ==='1' && docketService.basicDetailForm.value.billingType !== 'P04')|| docketService.basicDetailForm.value.billingType === 'P04')"
                [ngClass]="{ 'border-danger': docketService.freightForm.get('freightCharges')?.hasError('min') && docketService.freightForm.get('freightCharges')?.touched}">
              <!-- <div *ngIf="docketService.freightForm.get('freightCharges')?.hasError('min') && docketService.freightForm.get('freightCharges')?.touched"
                class="text-danger text-start">
              Please enter a value greater than or equal to 0.01.
            </div> -->
            </div>
          </div>
          <div class="form-group mb-1">
            <div class="col-md-5"></div>
            <div
              *ngIf="docketService.freightForm.get('freightCharges')?.hasError('min') && docketService.freightForm.get('freightCharges')?.touched"
              class="text-danger col-md-7 text-start">
              Please enter a value greater than or equal to 0.01.
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-4" >
         <div [ngClass]="{ 'hidden': !docketService.isBillingTBB ,'d-none': this.docketService.loginUserList.Type === '1'}">
           <div class="form-group">
            <label class="control-label col-md-5" style="padding-top: 0px;padding-right: 1px;padding-left: 49px;">
              <ng-select class="noFoundTextColor required2 clear-icon" placeholder="Rate Type" notFoundText="No matches found"
                [items]="docketService.rateList" bindLabel="codeDesc" bindValue="codeId"
                (change)="docketService.onchangeRateType($event)" formControlName="rateType"
                [readonly]="((docketService.basicDetailForm.get('serviceType')?.value ==='1' && docketService.basicDetailForm.value.billingType !== 'P04')|| docketService.basicDetailForm.value.billingType === 'P04')? true : false"></ng-select>
            </label>
            <div class="col-md-7">
              <input class="clsAmount form-control text-end" placeholder="Freight Rate" formControlName="freightRate" (input)="docketService.onchangefrightRate()"
                min="0.01" step="0.01" type="number" value="0"  [readOnly]="((docketService.basicDetailForm.get('serviceType')?.value ==='1' && docketService.basicDetailForm.value.billingType !== 'P04')|| docketService.basicDetailForm.value.billingType === 'P04')"
                [ngClass]="{ 'border-danger': docketService.freightForm.get('freightRate')?.hasError('min') && docketService.freightForm.get('freightRate')?.touched}">
              </div>
            </div>
            <div class="form-group mb-1">
              <div class="col-md-5"></div>
              <div
                *ngIf="docketService.freightForm.get('freightRate')?.hasError('min') && docketService.freightForm.get('freightRate')?.touched"
                class="text-danger col-md-7 text-start">
                Please enter a value greater than or equal to 0.01.
              </div>
            </div>
         </div>
        </div>
        <div class="col-md-4" >
          <div class="form-group mb-1">
            <label class="control-label col-md-5">Billed At</label>
            <div class="col-md-7">
              <input class="required2 form-control required" formControlName="billedAt" placeholder="Billed At"
                type="text" readonly="readonly" required
                [ngClass]="{ 'border-danger': docketService.freightForm.get('billedAt')?.invalid && docketService.freightForm.get('billedAt')?.touched}">
            </div>
          </div>
          <div class="form-group mb-1">
            <div class="col-md-5"></div>
            <div
              *ngIf="docketService.freightForm.get('billedAt')?.invalid && docketService.freightForm.get('billedAt')?.touched"
              class="text-danger col-md-7 text-start">
              This field is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group mb-1">
            <label class="control-label col-md-5">GST Paid By</label>
            <div class="col-md-7">
              <input type="text" formControlName="GSTPaidBy" class="clsAmount form-control text-end" placeholder="GST Paid By"
                required [readOnly]="docketService.basicDetailForm.value.billingType === 'P04'"
                [ngClass]="{ 'border-danger': docketService.freightForm.get('GSTPaidBy')?.invalid && docketService.freightForm.get('GSTPaidBy')?.touched}">
            </div>
          </div>
          <div class="form-group mb-1">
            <div class="col-md-5"></div>
            <div
              *ngIf="docketService.freightForm.get('GSTPaidBy')?.invalid && docketService.freightForm.get('GSTPaidBy')?.touched"
              class="text-danger col-md-7 text-start">
              This field is required.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">EDD </label>
            <div class="col-md-7">
              <div class="input-group mb-1">
                <input class="required2 form-control required" placeholder="EDD" type="text"
                  value="1/1/0001 12:00:00 AM" formControlName="EDD" readonly required
                  [ngClass]="{ 'border-danger': docketService.freightForm.get('EDD')?.invalid && docketService.freightForm.get('EDD')?.touched}">
                <span class="input-group-text cursor-pointer">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group mb-1">
            <div class="col-md-5"></div>
            <div *ngIf="docketService.freightForm.get('EDD')?.invalid && docketService.freightForm.get('EDD')?.touched"
              class="text-danger col-md-7 text-start">
              This field is required.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mb-1">
            <label class="control-label col-md-5">Billing State</label>
            <div class="col-md-7">
              <input class="required2 form-control required" formControlName="billingState" placeholder="Billing State"
                readonly type="text" required
                [ngClass]="{ 'border-danger': docketService.freightForm.get('billingState')?.invalid && docketService.freightForm.get('billingState')?.touched}">
            </div>
          </div>
          <div class="form-group mb-1">
            <div class="col-md-5"></div>
            <div
              *ngIf="docketService.freightForm.get('billingState')?.invalid && docketService.freightForm.get('billingState')?.touched"
              class="text-danger col-md-7 text-start">
              This field is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row" [ngClass]="{ 'hidden': !docketService.isBillingTBB,'d-none': this.docketService.loginUserList.Type === '1' }">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">FOV Rate (% of Invoice)</label>
            <div class="col-md-7">
              <input class="required2 clsAmount form-control required text-end" formControlName="fovRate"
                placeholder="FOV Rate " type="text" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">FOV Calculated</label>
            <div class="col-md-7">
              <input class="required2 clsAmount form-control required text-end" formControlName="fovCalculated"
                placeholder="FOV" type="text" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">FOV Charged </label>
            <div class="col-md-7">
              <input class="required2 form-control clsAmount required text-end" formControlName="fovCharged"
                placeholder="FOV Charged" type="text" readonly (input)="docketService.subTotalCalculation()">
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="docketService.basicDetailForm.value.IsCODDOD">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">COD/DOD Charged</label>
            <div class="col-md-7">
              <input class="required2 form-control clsAmount required text-end" formControlName="coddodCharged"
                placeholder="0" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">COD/DOD To be Collected</label>
            <div class="col-md-7">
              <input class="required2 clsAmount form-control required text-end" formControlName="coddodCollected"
                placeholder="0" type="text">
            </div>
          </div>
        </div>
      </div>

       <h3 class="pb-4 text-start appointment mt-5" [ngClass]="{ 'hidden': !docketService.isBillingTBB ,'d-none': this.docketService.loginUserList.Type === '1'}">Charges Details
      </h3>
 
      <!--<div class="row" [ngClass]="{ 'hidden': docketService.isBillingTBB }">
        <div class="col-md-4" *ngFor="let charge of docketService.freightchargingData">
          <div class="form-group to-pay-group">
            <label class="control-label col-md-5">{{ charge.chargeName }}</label>
            <div class="col-md-7">
              <div class="input-icon">
                <input type="text" class="form-control clsAmount required2" [placeholder]="charge.chargeName"
                  (keypress)="docketService.allowNumericDecimal($event)" formControlName="{{ charge.chargeCode }}"
                  (focus)="onFocus(charge.chargeCode)"
                  (blur)="onBlur(charge.chargeCode);docketService.subTotalCalculation();docketService.getGSTCalculation()" />
                <i class="bold">{{charge.operator}}</i>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <!-- SCHG03 column, always visible -->
        <ng-container *ngFor="let charge of docketService.freightchargingData">
          <div class="col-md-4" *ngIf="charge.chargeCode === 'SCHG03' &&  docketService.isOtherCharge">
            <div class="form-group to-pay-group">
              <label class="control-label col-md-5">
                {{ charge.chargeName }}
              </label>
              <div class="col-md-7"  >
                <div class="input-icon">
                  <input type="text"
                        class="form-control clsAmount required2"
                        [placeholder]="charge.chargeName"
                        (keypress)="docketService.allowNumericDecimal($event)"
                        [formControlName]="charge.chargeCode"
                        (focus)="onFocus(charge.chargeCode)"
                        (blur)="onBlur(charge.chargeCode);
                                docketService.subTotalCalculation();
                                docketService.getGSTCalculation()" 
                              [readOnly]="docketService.basicDetailForm.value.billingType === 'P04'"/>
                  <i class="bold">{{charge.operator}}</i>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
 
        <!-- baki charges, dependent on isBillingTBB -->
        <ng-container *ngFor="let charge of docketService.freightchargingData">
          <div class="col-md-4"
          [ngClass]="charge.chargeCode !== 'SCHG03' && docketService.isBillingTBB ? '':'hidden' ">
            <div class="form-group to-pay-group">
              <label class="control-label col-md-5">{{ charge.chargeName }}</label>
              <div class="col-md-7">
                <div class="input-icon">
                  <input type="text"
                        class="form-control clsAmount required2"
                        [placeholder]="charge.chargeName"
                        (keypress)="docketService.allowNumericDecimal($event)"
                        [formControlName]="charge.chargeCode"
                        (focus)="onFocus(charge.chargeCode)"
                        (blur)="onBlur(charge.chargeCode);
                                docketService.subTotalCalculation();
                                docketService.getGSTCalculation()" 
                                [readOnly]="docketService.basicDetailForm.value.billingType === 'P04'"/>
                  <i class="bold">{{charge.operator}}</i>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5"><b>GST Rate</b></label>
            <div class="col-md-7">
              <ng-select class="required2" [items]="[0,5,6,10,12,18,28]" formControlName="gstRate" readonly
                [clearable]="false">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5"><b>SUB-TOTAL</b></label>
            <div class="col-md-7">
              <input class="required2 clsAmount form-control required text-end" formControlName="subTotal"
                placeholder="SUB-TOTAL" readonly="true" type="text" value="">
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let entry of docketService.groupedCharges | keyvalue">
        <div class="row">
          <div class="col-md-4" *ngFor="let charge of entry.value">
            <div class="form-group to-pay-group">
              <label class="control-label col-md-5">
                {{ charge.chargeName }}
              </label>
              <div class="col-md-7">
                <div class="input-icon">
                  <input type="text" class="form-control clsAmount required2" [placeholder]="charge.chargeName"
                    formControlName="{{ charge.camelCaseCode }}" readonly />
                  <i class="bold">{{charge.operator}}</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group" *ngIf="docketService?.step2DetailsList?.maxDiscountY_N==='Y'">
            <label class="control-label col-md-5">Discount Type</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor required2" 
                (close)="onCloseDiscountType()" (clear)="onCloseDiscountType()"
                 placeholder="Discount Type"  bindLabel="label" bindValue="value" formControlName="discountType"  [items]="discountTypes" (change)="docketService.calculateDiscount($event)"
               ></ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" *ngIf="docketService?.step2DetailsList?.maxDiscountY_N==='Y'">
            <label class="control-label col-md-5">Discount</label>
            <div class="col-md-7">
              <input class="form-control clsAmount" placeholder="Discount" type="text" formControlName="discount" (blur)="docketService.calculateDiscount($event)"
              (keypress)="docketService.allowNumericDecimal($event)" 
              [ngClass]="{ 'border-danger':  docketService.freightForm.get('discount')?.touched &&
    docketService.freightForm.get('discount')?.hasError('max') &&
       docketService.step2DetailsList?.maxDiscountY_N === 'Y'}">
            <div class="text-danger text-start"
                *ngIf="
                  docketService.freightForm.get('discount')?.touched &&
                  docketService.freightForm.get('discount')?.errors &&
                  docketService.step2DetailsList?.maxDiscountY_N === 'Y'
                ">

               <span *ngIf="docketService.freightForm.value.discountType === 'F'">
                Please enter a value less than or equal to
                {{ docketService.originalSubtotal }}.
              </span>

              <span *ngIf="docketService.freightForm.value.discountType === 'P'">
                Please enter a value less than or equal to
                {{ docketService.maxDiscountLimit }}%.
              </span>

            </div>


            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" *ngIf="docketService?.step2DetailsList?.maxDiscountY_N==='Y'">
            <label class="control-label col-md-5">Discount Amount</label>
            <div class="col-md-7">
              <input class="form-control clsAmount" placeholder="Discount" readonly type="number" value=""
                formControlName="discountAmount">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5"><b>TOTAL</b></label>
            <div class="col-md-7">
              <input class="required2 form-control clsAmount required text-end" formControlName="dktTotal"
                placeholder="TOTAL" type="text" value="0" readonly 
                [ngClass]="{ 'border-danger':  docketService.freightForm.get('dktTotal')?.touched && docketService.freightForm.get('dktTotal')?.errors?.['min']}">
                <div class="text-danger" *ngIf="docketService.freightForm.get('dktTotal')?.touched && docketService.freightForm.get('dktTotal')?.errors?.['min']">
                  Total must be greater than or equal to 0
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>