<div class="cnote-entry-container px-2">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <h5 class="mb-0">
            <i class="fas fa-edit me-2"></i> FM Report
        </h5>
    </div>
    <div class="p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        From - To :
                    </label>
                    <div class="text-primary-color col-md-9 text-start">
                        18 Jan 2026 12:00 AM - 16 Feb 2026 12:00 AM
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Region :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        All
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Location :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        All
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        FM No. :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:right">
                        FM Status. :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        Received At
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cnote-entry-container px-2 mt-5">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <h5 class="mb-0">
            <i class="fas fa-list me-2"></i> FM List
        </h5>
    </div>
</div>