<div class="cnote-entry-container px-2">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <h5 class="mb-0">
            <i class="fas fa-edit me-2"></i> FM Report
        </h5>
    </div>
    <div class="p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        From - To :
                    </label>
                    <div class="text-primary-color col-md-9 text-start">
                          {{ filterData?.dateRange?.[0] | date:'dd MMM yyyy hh:mm a' }} - {{ filterData?.dateRange?.[1] | date:'dd MMM yyyy hh:mm a' }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Region :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        {{filterData?.RO}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Location :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        {{filterData?.Loccode}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        FM No. :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        {{filterData?.FmNo}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:right">
                        FM Status. :
                    </label>
                    <div class="col-md-6 text-primary-color text-start">
                        {{filterData?.fM_Status}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cnote-entry-container px-2 mt-5">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <h5 class="mb-0">
            <i class="fas fa-list me-2"></i> FM List
        </h5>
    </div>
    <div class="row p-3">
        <div class="col-md-1">
            <ng-select></ng-select>
        </div>
        <div class="col-md-2 col-form-label text-start">Records</div>
        <div class="col-md-5"></div>
        <div class="col-md-2 col-form-label text-end">Search</div>
           <div class="col-md-2">
               <input class="form-control ">
        </div>
    </div>
    <div class="table-responsive p-4">
        <table class="table table-bordered table-hover align-middle mb-0">
            <thead class="table-light text-center">
                <tr>
                    <th>FM No</th>
                    <th>Manual FM No.</th>
                    <th>FM Date.</th>
                    <th>Document Forwarded To</th>
                    <th>Further Forwarded Location</th>
                    <th>Total Documents</th>
                    <th>FM Status</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fmList">
                    <td class="text-center">{{item.fm_no}}</td>
                    <td>{{item.manual_fm_no}}</td>
                    <td>{{item.fmdt}}</td>
                    <td>{{item.doc_fwd_to}}</td>
                    <td>{{item.fur_FWD_loc}}</td>
                    <td class="text-center">{{item.total_Documents}}</td>
                    <td class="text-center">{{item.fM_Status}}</td>
                    <td class="text-center" (click)="onView(item)"><span
                            class="d-inline-flex align-items-center text-Secondary edit-color px-2 py-1 fw-semibold edit-border cursor-pointer">
                             View
                        </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>