<div class="cnote-entry-container px-2">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-list me-2"></i>
        FM Query
    </div>
    <div class="form-grid p-4">
        <div class="row pb-3">
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">FM Number</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter FM Number">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">FM Date</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter FM Date">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">FM Entry Date</label>
                    <div class="col-sm-7 text-start">
                        {{'2/11/2026 6:05:11 PM'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Manual FM Number</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Manual FM Number">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Forward To</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Forward To">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Customer/Location</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Customer/Location">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Document Type</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Manual Document Type">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Courier Name</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Courier Name">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Way Bill No</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Way Bill No">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-4">
                <div class="row">
                    <label class="col-sm-5 col-form-label text-end">Way Bill Date</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="Enter Way Bill Date">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cnote-entry-container px-2">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-list me-2"></i>
        Document List
    </div>
    <!-- Table Section -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle mb-0">
            <thead class="table-light text-center">
                <tr>
                    <th style="width:40px;"><input type="checkbox"></th>
                    <th>CNote</th>
                    <th>Manual CNote</th>
                    <th>Origin - Destination</th>
                    <th>From - To</th>
                    <th>Dely. Date</th>
                    <th>Amount</th>
                    <th>Scan Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>62841503</td>
                    <td>62841503</td>
                    <td>MHP: MAHAPE - PIM: PIMPLAS</td>
                    <td>MAHAPE: BHIWANDI</td>
                    <td class="text-center">17 Jul 25</td>
                    <td class="text-end">0.00</td>
                    <td class="text-success fw-semibold">Scanned</td>
                </tr>
                <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>62911112</td>
                    <td>62911112</td>
                    <td>DMN: DAMAN - PIM: PIMPLAS</td>
                    <td>VAPI: BHIWANDI</td>
                    <td class="text-center">10 Feb 26</td>
                    <td class="text-end">0.00</td>
                    <td class="text-success fw-semibold">Scanned</td>
                </tr>
                <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>62918098</td>
                    <td>62918098</td>
                    <td>SRT: SURAT - PIM: PIMPLAS</td>
                    <td>SURAT: BHIWANDI</td>
                    <td class="text-center">10 Feb 26</td>
                    <td class="text-end">0.00</td>
                    <td class="text-success fw-semibold">Scanned</td>
                </tr>
                <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>62920658</td>
                    <td>62920658</td>
                    <td>LTT: MUMBAI - PIM: PIMPLAS</td>
                    <td>MUMBAI: PIMPLAS</td>
                    <td class="text-center">10 Feb 26</td>
                    <td class="text-end">0.00</td>
                    <td class="text-success fw-semibold">Scanned</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Back Button -->
<div class="d-flex justify-content-center bg-secondary-subtle p-4 gap-2 mt-4">
    <button class="btn btn-secondary">
        ← Back to Criteria
    </button>
    <button class="btn btn-success"> <i class="fas fa-check"></i> Get List</button>
</div>