<div class="m-3 ">
    <div class="px-1">
        <form [formGroup]="customerMasterService.billingForm">
            <div class="mt-3">
                <div class="background-color text-white rounded-top px-3 py-3 text-start cursor-pointer d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" href="#collapseExample" aria-expanded="true"
                    aria-controls="collapseExample">
                    <div>
                        <i class="fas fa-rupee me-2"></i>
                        Customer Billing Information
                    </div>
                    <i class="fas fa-chevron-down collapse-icon" id="companyIcon"></i>
                </div>
                <div class="collapse show" id="collapseExample" data-bs-parent="#companyInfo">
                    <div class="rounded-bottom border-radius p-3">
                        <div class="row pb-4">
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Customer Address</label>
                                    <input type="text" class="form-control" placeholder="Customer Address"
                                        formControlName="CustAddress">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Customer City</label>
                                    <input type="text" class="form-control" placeholder="Customer City"
                                        formControlName="city">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Customer Pincode</label>
                                    <input type="text" class="form-control" placeholder="Customer Pincode"
                                        formControlName="pincode">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Billing Address</label>
                                    <input type="text" class="form-control" placeholder="Billing Address"
                                        formControlName="Address_Bill">
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Billing City</label>
                                    <input type="text" class="form-control" placeholder="Customer Address"
                                        formControlName="City_Bill">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Billing Pincode</label>
                                    <input type="text" class="form-control" placeholder="Billing Pincode"
                                        formControlName="Pincode_Bill">
                                </div>
                            </div>
                            <div class="col-3 d-print-inline-block align-content-end">
                                <div class="toggle-container">
                                    <span class="toggle-label"
                                        title="Billing Address Same As Customer Address ?">Billing Address Same As
                                        Customer Address ?</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="autoToggle" formControlName="CustAddBillAdd">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="background-color text-white rounded-top px-3 py-3 text-start cursor-pointer d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" href="#ConsignorcollapseExample" aria-expanded="true"
                    aria-controls="ConsignorcollapseExample">
                    <div>
                        <i class="fas fa-exchange-alt me-2"></i>
                        Consignor & Consignee Mapping
                    </div>
                    <i class="fas fa-chevron-down collapse-icon" id="companyIcon"></i>
                </div>
                <div class="collapse show" id="ConsignorcollapseExample" data-bs-parent="#companyInfo">
                    <div class="rounded-bottom border-radius p-3">
                        <div class="row pb-4">
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Map Consignor </label>
                                    <ng-select class="required2 multiselect" placeholder="Map Consignor"
                                        formControlName="MAP_CSGN" [multiple]="true" bindValue="id" bindLabel="text"
                                        [items]="consignorData"></ng-select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Map Consignee</label>
                                    <ng-select class="required2 multiselect" placeholder="Map Consignee"
                                        formControlName="MAP_CSGE" [multiple]="true" bindValue="id" bindLabel="text"
                                        [items]="consigneeData"></ng-select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mt-4">
                                    <label class="form-label">Pay Basis Allowed</label>
                                    <div class="checkbox-group">
                                        <div class="checkbox-option checked">
                                            <input type="checkbox" id="paid" checked="">
                                            <label for="paid">Paid</label>
                                        </div>
                                        <div class="checkbox-option">
                                            <input type="checkbox" id="tbb">
                                            <label for="tbb">To Be Billed (TBB)</label>
                                        </div>
                                        <div class="checkbox-option">
                                            <input type="checkbox" id="topay">
                                            <label for="topay">To Pay</label>
                                        </div>
                                        <div class="checkbox-option">
                                            <input type="checkbox" id="foc">
                                            <label for="foc">Free of Charge (FOC)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="background-color text-white rounded-top px-3 py-3 text-start cursor-pointer d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" href="#BankcollapseExample" aria-expanded="true"
                    aria-controls="BankcollapseExample">
                    <div>
                        <i class="fas fa-university me-2"></i>
                        Bank Information
                    </div>
                    <i class="fas fa-chevron-down collapse-icon" id="companyIcon"></i>
                </div>
                <div class="collapse show" id="BankcollapseExample" data-bs-parent="#companyInfo">
                    <div class="rounded-bottom border-radius p-3">
                        <div class="row pb-4">
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Bank Name </label>
                                    <input type="text" class="form-control" placeholder="Bank Name"
                                        formControlName="BankName">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Name of Branch</label>
                                    <input type="text" class="form-control" placeholder="Name of Branch"
                                        formControlName="BranchName">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Bank Account No </label>
                                    <input type="text" class="form-control" placeholder="Bank Account No"
                                        formControlName="BankAccountNo">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Turnover (Rs in Cr)</label>
                                    <input type="text" class="form-control" placeholder="Turnover (Rs in Cr)"
                                        formControlName="Turnover">
                                </div>
                            </div>
                        </div>

                        <div class="row pb-4">
                            <div class="col-3 d-print-inline-block align-content-end">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Is Allow For Cheque Collection ?">Is Allow For
                                        Cheque Collection ?</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="isAllowForChequeCollectionToggle"
                                            formControlName="IsAllowForChequeCollection">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 d-print-inline-block align-content-end">
                                <div class="toggle-container ">
                                    <span class="toggle-label" title="DRS Generation SMS">Special Bill
                                        Needed</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="drsGenerationSmsToggle"
                                            formControlName="IsSpecialBill_YN">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 d-print-inline-block align-content-end">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="TDS Applicable">TDS Applicable</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="tdsApplicableToggle"
                                            formControlName="IsTDSApplicable" readonly>
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-input">
                                    <label class="form-label">Service Opted For </label>
                                    <div class="radio-group">
                                        <div class="radio-option selected">
                                            <input type="radio" id="reg" name="regType" value="Transportation">
                                            <label for="reg">Transportation</label>
                                        </div>
                                        <div class="radio-option">
                                            <input type="radio" id="unreg" name="regType" value="Warehouse">
                                            <label for="unreg">Warehouse</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-4">
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">TIN No </label>
                                    <input type="text" class="form-control" placeholder="TIN No"
                                        formControlName="TIN_No">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">TAN No</label>
                                    <input type="text" class="form-control" placeholder="TAN No"
                                        formControlName="TANNo">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Business Type </label>
                                    <ng-select class="required2" placeholder="Bank Account No"
                                        formControlName="BusinessType" [items]="businessData" bindLabel="text"
                                        bindValue="id"></ng-select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">TDS Percentage(%) </label>
                                    <input type="text" class="form-control" placeholder="TDS Percentage(%) "
                                        formControlName="TDSPercentage" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="background-color text-white rounded-top px-3 py-3 text-start cursor-pointer d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" href="#decisionMakerExample" aria-expanded="true"
                    aria-controls="decisionMakerExample">
                    <div>
                        <i class="fas fa-user-tie me-2"></i>
                        Decision Maker
                    </div>
                    <i class="fas fa-chevron-down collapse-icon" id="companyIcon"></i>
                </div>
                <div class="collapse show" id="decisionMakerExample" data-bs-parent="#companyInfo">
                    <div class="rounded-bottom border-radius p-3">
                        <div class="row pb-4">
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Name </label>
                                    <input type="text" class="form-control" placeholder="Name"
                                        formControlName="Decision_Name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Designation </label>
                                    <input type="text" class="form-control" placeholder="Designation "
                                        formControlName="Decision_Designation">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Mobile </label>
                                    <input type="text" class="form-control" placeholder="Mobile "
                                        formControlName="Decision_Mobile">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group-input">
                                    <label class="form-label">Email </label>
                                    <input type="text" class="form-control" placeholder="Email "
                                        formControlName="Decision_Email">
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-1">
                                <div class="form-group-input">
                                    <label class="form-label">Customer Group</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group-input">
                                    <!-- None Option -->
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <div class="radio-option">
                                                <input type="radio" id="None" name="BookedType" value="None" checked
                                                    formControlName="BookedType">
                                                <label for="None">None</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <!-- None - No Input -->
                                        </div>
                                    </div>

                                    <!-- BA Vendor Option -->
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <div class="radio-option">
                                                <input type="radio" id="BAVendor" name="BookedType" value="BAVendor"
                                                    formControlName="BookedType">
                                                <label for="BAVendor">BA Vendor</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" placeholder="Select BA Vendor"
                                                formControlName="BookedByBaVendor" readonly
                                                formControlName="BookedType">
                                        </div>
                                    </div>

                                    <!-- Franchises Vendor Option -->
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <div class="radio-option">
                                                <input type="radio" id="franchisesVendor" name="customerGroup"
                                                    value="franchisesVendor">
                                                <label for="franchisesVendor">Franchises Vendor</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control"
                                                placeholder="Select Franchises Vendor"
                                                formControlName="BookedByFraVendor" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>