.form-check-input:checked {
    background-color: #2952a9;
    border-color: #2952a9;
    box-shadow: 0 0 0 0.25rem #2952a926;
}

.form-check-input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


::ng-deep .remove-select-color {
    .ng-select-container {
        background: #fff !important;
    }
}

::ng-deep .remove-select-color.ng-select-disabled {
    .ng-select-container {
        background-color: #e9ecef !important;
    }
}

.layout-container {
    min-height: 600px;
}

.module-list {
    .list-group-item {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border-left: 4px solid transparent;
        
        &:hover {
            background-color: #f8f9fa;
        }

        &.active-module {
            background-color: #f1f5ff;
            border-left: 4px solid #2952a9;
            color: #2952a9;
        }
    }
}

.hover-shadow {
    &:hover {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
        transform: translateY(-2px);
    }
}

.transition-all {
    transition: all 0.2s ease-in-out;
}

