.form-check-input:checked {
    background-color: #2952a9;
    border-color: #2952a9;
    box-shadow: 0 0 0 0.25rem #2952a926;
}

.form-check-input{
    width: 16px;
    height: 16px;
    cursor: pointer;
}


::ng-deep .remove-select-color{
    .ng-select-container{
       background: #fff !important;
    }
}

::ng-deep .remove-select-color.ng-select-disabled {
    .ng-select-container {
        background-color: #e9ecef !important;
    }
}