.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.15);
}


::ng-deep .remove-select-color{
    .ng-select-container{
       background: #fff !important;
    }
}