<div class="cnote-entry-container px-1">
    <div class="form-grid p-4">
        <form>
            <div class="row pb-3">
                <div class="col-md-3">
                    <div class="row">
                        <label class="col-md-5 col-form-label text-end">Registration Type</label>
                        <div class="col-sm-6 text-start">
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="radio" class="btn-check" [name]="'RegistrationType'"
                                    id="RegistrationTypeYes" [value]="true">
                                <label class="btn btn-outline-success" for="RegistrationTypeYes"> Registered </label>
                                <input type="radio" class="btn-check" [name]="'RegistrationType'"
                                    id="RegistrationTypeNo" [value]="false">
                                <label class="btn btn-outline-danger" for="RegistrationTypeNo">Unregistered</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">GST No.</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter GST No." readonly>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">PAN Number</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter PAN Number" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Trade Name</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter Trade Name" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-3">
                    <div class="form-group">
                        <label class="col-md-5">Customer Code</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control " placeholder="SYSTEM GENERATED" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Customer Password</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="SYSTEM GENERATED" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Tax Payer Type</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter Tax Payer Type">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Group Code</label>
                        <div class="col-sm-7">
                            <ng-select class="noFoundTextColor required2"></ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-3">
                    <div class="form-group">
                        <label class="col-md-5">Telephone Number</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control " placeholder="Telephone Number" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">E-mail</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="E-mail" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Mobile Number</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Customer State</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Customer State">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-3">
                    <div class="form-group">
                        <label class="col-md-5">Employee Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control " placeholder="Employee Name" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Website</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Website" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Legal Name of Business</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter Legal Name of Business">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Status</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Status">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-3">
                    <div class="form-group">
                        <label class="col-md-5">Type of ownership</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control " placeholder="Type of ownership" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Remark</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Remark" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Industry</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Enter Industry">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-column">
                    <div class="form-group">
                        <label for="refDkt" class="col-md-5">Consignor</label>
                        <div class="col-md-2 text-start">
                            <label class="yes-no">
                                <input type="checkbox" />
                                <span class="slider"></span>
                            </label>
                        </div>
                        <label for="CSD" class="col-md-3 text-end transform">Consignee</label>
                        <div class="col-md-2 ">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-3 form-column">
                    <div class="form-group">
                        <label for="refDkt" class="col-md-5">Third Party</label>
                        <div class="col-md-2 text-start">
                            <label class="yes-no">
                                <input type="checkbox" />
                                <span class="slider"></span>
                            </label>
                        </div>
                        <label for="CSD" class="col-md-3 text-end transform">Mobile Service</label>
                        <div class="col-md-2 ">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-5 col-form-label text-end">Customer Creation date</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" placeholder="Customer Creation date" readonly>
                        </div>
                    </div>
                </div>
                   <div class="col-md-3 form-column">
                    <div class="form-group">
                        <label for="refDkt" class="col-md-5">Auto Bill Cycle Allowed?</label>
                        <div class="col-md-2 text-start">
                            <label class="yes-no">
                                <input type="checkbox" />
                                <span class="slider"></span>
                            </label>
                        </div>
                        <label for="CSD" class="col-md-3 text-end transform">Mobile Service</label>
                        <div class="col-md-2 ">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-column">
                    <div class="form-group">
                        <label for="refDkt" class="col-md-5">Consignor</label>
                        <div class="col-md-2 text-start">
                            <label class="yes-no">
                                <input type="checkbox" />
                                <span class="slider"></span>
                            </label>
                        </div>
                        <label for="CSD" class="col-md-3 text-end transform">Consignee</label>
                        <div class="col-md-2 ">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>