<div class="m-3 border-radius rounded">
    <div class="cnote-entry-container px-1 " >
        <div class="form-grid p-4">
            <form>
                <div class="row pb-4">
                    <div class="col-md-3">
                        <div class="form-group-input">
                            <label class="form-label">Registration Type </label>
                            <div class="radio-group">
                                <div class="radio-option selected">
                                    <input type="radio" id="reg" name="regType" value="registered" checked="">
                                    <label for="reg">Registered</label>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" id="unreg" name="regType" value="unregistered">
                                    <label for="unreg">Unregistered</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">GST No.</label>
                            <input type="text" class="form-control" placeholder="GST No.">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">PAN Number</label>
                            <input type="text" class="form-control" placeholder="PAN Number">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Trade Name</label>
                            <input type="text" class="form-control" placeholder="Trade Name">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Customer Code.</label>
                            <input type="text" class="form-control" placeholder="Customer Code.">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Customer Password</label>
                            <input type="text" class="form-control" placeholder="Customer Password">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Tax Payer Type</label>
                            <input type="text" class="form-control" placeholder="Tax Payer Type">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Group Code</label>
                            <input type="text" class="form-control" placeholder="Group Code">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Telephone Number</label>
                            <input type="text" class="form-control" placeholder="Telephone Number">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">E-mail</label>
                            <input type="text" class="form-control" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Customer State</label>
                            <input type="text" class="form-control" placeholder="Customer State">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Employee Name</label>
                            <input type="text" class="form-control" placeholder="Employee Name">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Website</label>
                            <input type="text" class="form-control" placeholder="Website">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Legal Name of Business</label>
                            <input type="text" class="form-control" placeholder="Legal Name of Business">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Status</label>
                            <input type="text" class="form-control" placeholder="Status">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Type of ownership</label>
                            <input type="text" class="form-control" placeholder="Type of ownership">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Remark</label>
                            <input type="text" class="form-control" placeholder="Remark">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Industry</label>
                            <input type="text" class="form-control" placeholder="Industry">
                        </div>
                    </div>
                     <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Customer Creation date</label>
                            <input type="text" class="form-control" placeholder="Customer Creation date">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Consignor">Consignor</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="consignorToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Consignee">Consignee</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="ConsigneeToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Third Party">Third Party</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="thirdPartyToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Mobile Service">Mobile Service</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="mobileServiceToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Auto Bill Cycle Allowed?">Auto Bill Cycle..?</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="autoBillCycleToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Active">Active</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="activeToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Billing at Destination">Dest Billing?</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="billingAtDestinationToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="E Invoice">E Invoice</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="eInvoiceToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row pb-4">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="E WAY API ENABLE">E-Way API Enable</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="eWayEnabledToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Is Exempted">Is Exempted</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="isExemptedToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="DRS Closure SMS">DRS Closure SMS</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="drsClosureSmsToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Is Bill Audit">PO Number</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="isBillAuditToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Is Loading Slip Recieved">Load Slip Recvd</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="isLoadingSlipReceivedToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Block Booking">Block Booking</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="blockBookingToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Block Delivery">Block Delivery</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="blockDeliveryToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Outstanding Mail">Outstanding Mail</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="outstandingMailToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Outstanding Mail Ids</label>
                            <input type="text" class="form-control" placeholder="Outstanding Mail Ids">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Auto MIS Email Ids</label>
                            <input type="text" class="form-control" placeholder="Auto MIS Email Ids">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">Customer Classification</label>
                            <input type="text" class="form-control" placeholder="Customer Classification">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <label class="form-label">CRM Email Ids</label>
                            <input type="text" class="form-control" placeholder="CRM Email Ids">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="Auto MIS Email">Auto MIS Email</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="autoMisEmailToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="DRS Generation SMS">DRS Gen SMS</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="drsGenerationSmsToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="GST API Enable?">GST API Enable</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="gstApiEnableToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="toggle-container">
                                    <span class="toggle-label" title="PO Number">PO Number</span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="poNumberToggle">
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="toggle-container">
                            <span class="toggle-label" title="Is Transpoter">Is Transpoter</span>
                            <label class="toggle-switch">
                                <input type="checkbox" id="isTranspoterToggle">
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group-input">
                            <input type="text" class="form-control" placeholder="Transporter Id">
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="form-label">Customer Group </label>
                            <div class="radio-group">
                                <div class="radio-option selected">
                                    <input type="radio" id="group" name="customerGroup" value="group" checked="">
                                    <label for="group">Group</label>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" id="corporate" name="customerGroup" value="corporate">
                                    <label for="corporate">Corporate</label>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" id="nonGroup" name="customerGroup" value="non-group">
                                    <label for="nonGroup">Non-Group</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <label class="col-sm-3 col-form-label text-end">Customer Locations</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="number" placeholder="Enter Customer Locations">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>