<div class="cnote-entry-container px-1">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fa fa-edit me-2"></i>
    THC Departure Submit
  </div>
  <div class="form-grid p-4">
    <form>
      <div class="row">
        <div class="col-4 pb-3">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">THC No.</label>
            <div class="col-sm-7">
              <input class="form-control" placeholder="THC No.">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">THC Date</label>
            <div class="col-sm-7 d-flex justify-content-between">
              <input class="form-control" placeholder="THC Date">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">Route</label>
            <div class="col-sm-7">
              <input class="form-control" placeholder="Route">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pb-3">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Vehicle No.</label>
            <div class="col-sm-7">
              <input class="form-control" placeholder="Vehicle No.">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">ATA</label>
            <div class="col-sm-7 d-flex justify-content-between">
              <input class="form-control" placeholder="ATA">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">ETD</label>
            <div class="col-sm-7">
              <input class="form-control" placeholder="ETD">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pb-3">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Out VFS (%)</label>
            <div class="col-sm-7">
            <input class="form-control required2" placeholder="Out VFS">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">Seal No.</label>
            <div class="col-sm-7 d-flex justify-content-between">
              <input class="form-control required2" placeholder="Seal No.">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">ATD</label>
            <div class="col-sm-7">
              <input class="form-control" placeholder="ATD">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pb-3">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Emp. Code</label>
            <div class="col-sm-7">
              <input class="form-control" placeholder="Emp. Code">
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">Outgoing Remarks</label>
            <div class="col-sm-7 d-flex justify-content-between">
              <input class="form-control" placeholder="Outgoing Remarks">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="cnote-entry-container">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
      <i class="fas fa-list me-2"></i>
      MFs available for THC Departure
    </div>
    <div class="table-wrapper p-2 pt-4">
      <table class="table table-bordered align-middle stock-table table-fixed vertical-align">
        <thead class="table-secondary">
          <tr>
            <th>#</th>
            <th>Sys. MF No.</th>
            <th>Manual MF No.</th>
            <th>MF Br.</th>
            <th>MF Date</th>
            <th>Next Stop</th>
            <th>Total Dkts.</th>
            <th>Pkgs L/B</th>
            <th>Wt. L/B</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center"><input type="checkbox" class="form-check-input fs-5"></td>
            <td class="text-center">MF/BWH/2627/000003</td>
            <td class="text-center">-</td>
            <td class="text-center">BWH</td>
            <td class="text-center">4/8/2026 12:00:00 AM</td>
            <td class="text-center">-</td>
            <td class="text-center">1</td>
            <td class="text-center">10/10</td>
            <td class="text-center">30.0/30.0</td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox" class="form-check-input fs-5"></td>
            <td class="text-center">MF/BWH/2627/000003</td>
            <td class="text-center">-</td>
            <td class="text-center">BWH</td>
            <td class="text-center">4/8/2026 12:00:00 AM</td>
            <td class="text-center">-</td>
            <td class="text-center">1</td>
            <td class="text-center">10/10</td>
            <td class="text-center">30.0/30.0</td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox" class="form-check-input fs-5"></td>
            <td class="text-center">MF/BWH/2627/000003</td>
            <td class="text-center">-</td>
            <td class="text-center">BWH</td>
            <td class="text-center">4/8/2026 12:00:00 AM</td>
            <td class="text-center">-</td>
            <td class="text-center">1</td>
            <td class="text-center">10/10</td>
            <td class="text-center">30.0/30.0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center text-center bg-secondary-subtle p-4 gap-2">
  <button class="btn btn-success">
    <i class="fas fa-check"></i>Submit
  </button>
</div>