.datepicker {
  ::ng-deep .bs-datepicker {
    box-shadow: none !important;
  }

  ::ng-deep .bs-datepicker-container {
    padding: 0 !important;
  }
}

.datetime-picker-wrapper {
  position: relative;
  width: 100%;

  .picker-popup {
    position: absolute;
    top: 100%;       // below input
    left: 0;
    width: 300px;    // adjust as needed
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    z-index: 1000;
  }

  .datepicker,
  timepicker {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .input-group-text {
    cursor: pointer;
  }

  .disabled-input {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
}
