<div class="form-grid p-4">
    <form [formGroup]="DefaultcontractForm">
    <!-- Origin Details Section -->
    <h3 class="pb-4 text-start challan-Details mb-4">Origin Destination Details</h3>
    <div class="row pb-3">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Origin Pin Code</label>
                <div class="col-sm-7">
                    <ng-select class="required2 clear-icon" type="text" placeholder="Enter Origin Pin Code" formControlName="originPincode"
                    (search)="docketService.getpincodeData($event)" bindValue="value" [items]="docketService.pincodeList" 
                    (change)="getPincodeMasterList($event)" bindLabel="text" [notFoundText]="docketService.notPincodeValue"></ng-select>
                    <div *ngIf="DefaultcontractForm.get('originPincode')?.invalid && DefaultcontractForm.get('originPincode')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('originPincode')?.hasError('required')">Origin Pin Code is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Pickup Area</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Pickup Area" formControlName="PickupArea">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Pickup From ODA</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Pickup From ODA" formControlName="PickupODA">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Origin City</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Origin City" formControlName="originCity">
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-3">
            <div class="row align-items-center">
                <label class="col-sm-5 col-form-label text-end">From State</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter From State" formControlName="fromState">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Origin Zone</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Origin Zone" formControlName="originZone">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">ODA_Pickup_Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter ODA_Pickup_Charges" formControlName="ODA_pickUp">
                </div>
            </div>
        </div>
         <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Email</label>
                <div class="col-sm-7">
                    <input class="form-control required2" type="text" placeholder="Enter Email" formControlName="email">
                    <div *ngIf="DefaultcontractForm.get('email')?.invalid && DefaultcontractForm.get('email')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('email')?.hasError('required')">Email is required.</small>
                        <small *ngIf="DefaultcontractForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Destination Details Section -->
    <div class="row pb-3">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Destination Pin Code</label>
                <div class="col-sm-7">
                    <input class="form-control required2" type="text" placeholder="Enter Destination Pin Code" formControlName="destination_pincode">
                     <div *ngIf="DefaultcontractForm.get('destination_pincode')?.invalid && DefaultcontractForm.get('destination_pincode')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('destination_pincode')?.hasError('required')">Destination Pin Code is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Destination Area</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Destination Area" formControlName="destinationArea">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">ODA (Y/N)</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter ODA (Y/N)" formControlName="ODA">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Destination City</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Destination City" formControlName="destinationCity">
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-3">
            <div class="row align-items-center">
                <label class="col-sm-5 col-form-label text-end">To State</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter To State" formControlName="toState">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Destination Zone</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Destination Zone" formControlName="destinationZone">
                </div>
            </div>
        </div>
         <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Delivery Branch Code</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Delivery Branch Code" formControlName="deliveryBranchCode">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">ODA Category</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter ODA Category" formControlName="ODACategory">
                </div>
            </div>
        </div>
        
    </div>

    <!-- Additional Details Section -->
    
    <div class="row pb-3">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Transport Mode</label>
                <div class="col-sm-7">
                    <select class="form-control" formControlName="mode">
                        <option value="ROAD CARGO">ROAD CARGO</option>
                        <option value="RAIL">RAIL</option>
                        <option value="AIR">AIR</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">TAT Normal</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter TAT Normal" formControlName="TATNormal">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">TAT ODA</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter TAT ODA" formControlName="TATODA">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Transit Days</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Transit Days" formControlName="transitDays">
                </div>
            </div>
        </div>
    </div>
    <h3 class="pb-4 text-start challan-Details mb-4">Invoice Details</h3>
     <div class="row pb-3">
        <div class="col-2">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Weight Kgs</label>
                <div class="col-sm-7">
                    <input class="form-control required2" type="number" placeholder="Enter Weight Kgs" formControlName="weightKG">
                     <div *ngIf="DefaultcontractForm.get('weightKG')?.invalid && DefaultcontractForm.get('weightKG')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('weightKG')?.hasError('required')">Weight Kgs is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Pkgs</label>
                <div class="col-sm-7">
                    <input class="form-control required2" type="number" placeholder="Enter Pkgs" formControlName="Pkgs">
                    <div *ngIf="DefaultcontractForm.get('Pkgs')?.invalid && DefaultcontractForm.get('Pkgs')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('Pkgs')?.hasError('required')">Pkgs is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Invoice Value</label>
                <div class="col-sm-7">
                    <input class="form-control required2" type="number" placeholder="Enter Invoice Value" formControlName="invoiceValue">
                    <div *ngIf="DefaultcontractForm.get('invoiceValue')?.invalid && DefaultcontractForm.get('invoiceValue')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('invoiceValue')?.hasError('required')">Invoice Value is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Charge Wt Kgs</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Charge Weight Kgs" formControlName="chargeWeightKG" readonly>
                </div>
            </div>
        </div>
          <div class="col-2">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">CFT Weight</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter CFT Weight" formControlName="CFTweight" readonly>
                </div>
            </div>
        </div>
         <div class="col-2">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Rate/Kg</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Rate/Kg" formControlName="rate" readonly>
                </div>
            </div>
        </div>
    </div>
      <div class="row pb-3">
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xxl-2">
            <div class="row align-items-center">
                <label class="col-sm-6 col-form-label text-center">Volumetric Applicable:</label>
                <div class="col-sm-6 text-start">
                    <div class="btn-group btn-group-sm" role="group">
                        <input type="radio" class="btn-check" [name]="'VolumetricAppl'" id="VolumetricApplYes" formControlName="VolumetricAppl" [value]="true">
                        <label class="btn btn-outline-success" for="VolumetricApplYes">Yes</label>
                        <input type="radio" class="btn-check" [name]="'VolumetricAppl'" id="VolumetricApplNo"  formControlName="VolumetricAppl" [value]="false">
                        <label class="btn btn-outline-danger" for="VolumetricApplNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xxl-2">
            <div class="row align-items-center">
                <label class="col-sm-6 col-form-label text-center">Appointment Deliver:</label>
                <div class="col-sm-6 text-start">
                       <div class="btn-group btn-group-sm" role="group">
                        <input type="radio" class="btn-check" [name]="'AppointmentDeliver'" id="AppointmentDeliverYes" formControlName="AppointmentDeliver" [value]="true">
                        <label class="btn btn-outline-success" for="AppointmentDeliverYes">Yes</label>
                        <input type="radio" class="btn-check" [name]="'AppointmentDeliver'" id="AppointmentDeliverNo" formControlName="AppointmentDeliver" [value]="false">
                        <label class="btn btn-outline-danger" for="AppointmentDeliverNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xxl-2">
            <div class="row align-items-center">
                <label class="col-sm-5 col-form-label text-center">CSD Delivery:</label>
                <div class="col-sm-7 text-start">
                       <div class="btn-group btn-group-sm" role="group">
                        <input type="radio" class="btn-check" [name]="'CSDDelivery'" id="CSDDeliveryYes" formControlName="CSDDelivery" [value]="true">
                        <label class="btn btn-outline-success" for="CSDDeliveryYes">Yes</label>
                        <input type="radio" class="btn-check" [name]="'CSDDelivery'" id="CSDDeliveryNo" formControlName="CSDDelivery" [value]="false">
                        <label class="btn btn-outline-danger" for="CSDDeliveryNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xxl-2">
            <div class="row align-items-center">
                <label class="col-sm-6 col-form-label text-center">Mall Delivery Applicable:</label>
                <div class="col-sm-6 text-start">
                       <div class="btn-group btn-group-sm" role="group">
                        <input type="radio" class="btn-check" [name]="'MallDelAppl'" id="MallDelApplYes" formControlName="MallDelAppl" [value]="true">
                        <label class="btn btn-outline-success" for="MallDelApplYes">Yes</label>
                        <input type="radio" class="btn-check" [name]="'MallDelAppl'" id="MallDelApplNo" formControlName="MallDelAppl" [value]="false">
                        <label class="btn btn-outline-danger" for="MallDelApplNo">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row p-3 fade-in" *ngIf="DefaultcontractForm.get('VolumetricAppl')?.value">
       <h3 class="pb-4 text-start challan-Details mb-4">Volumetric Applicable</h3>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Length (in Inches)</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Length (in Inches)" formControlName="length">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Breadth (in Inches)</label>
                <div class="col-sm-7">
                     <input class="form-control" type="number" placeholder="Enter Breadth (in Inches)" formControlName="breadth">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Height (in Inches)</label>
                <div class="col-sm-7">
                     <input class="form-control" type="number" placeholder="Enter Height (in Inches)" formControlName="height">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">CFT Ratio</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter CFT Ratio" formControlName="CFTRatio">
                </div>
            </div>
        </div>
    </div>

 <h3 class="pb-4 text-start challan-Details mb-4">Charges Details</h3>
      <div class="row pb-3">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end text-danger">Fuel Surcharge</label>
                <div class="col-sm-7">
                    <input class="form-control required2" type="text" placeholder="Enter Fuel Surcharge" formControlName="fuelSurcharge">
                    <div *ngIf="DefaultcontractForm.get('fuelSurcharge')?.invalid && DefaultcontractForm.get('fuelSurcharge')?.touched" class="text-danger">
                        <small *ngIf="DefaultcontractForm.get('fuelSurcharge')?.hasError('required')">Fuel Surcharge is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Freight Rs</label>
                <div class="col-sm-7">
                     <input class="form-control" type="number" placeholder="Enter Freight Rs" formControlName="freightRs" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Fuel Surcharge Rs.</label>
                <div class="col-sm-7">
                     <input class="form-control" type="number" placeholder="Enter Fuel Surcharge Rs." formControlName="fuelSurchargeRs" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">ODA Rate/KG</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter ODA Rate/KG" formControlName="ODARate" readonly>
                </div>
            </div>
        </div>
    </div>

     <div class="row pb-3">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">{{'GST@'}}</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter GST@" formControlName="gst" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">State Charges Detail</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter State Charges Detail" formControlName="stateChargesDetail" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">State Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter State Charges" formControlName="stateCharges" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">ODA Amount.</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter ODA Amount." formControlName="ODAAmount" readonly>
                </div>
            </div>
        </div>
    </div>

     <div class="row pb-3">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Docket Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Docket Charges" formControlName="docketCharge">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Mall Delivery Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Mall Delivery Charges" formControlName="mallDeliveryCharge" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Appointment Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Appointment Charges" formControlName="appoinmentCharge" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">CSD Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter CSD Charges" formControlName="CSDCharge" readonly>
                </div>
            </div>
        </div>
    </div>



     <div class="row pb-3">
          <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Insurance Charges</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Insurance Charges" formControlName="InsuranceCharge" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Disc_Rate</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" placeholder="Enter Disc_Rate" formControlName="Disc_Rate"> 
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Discount_Amount</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Discount_Amount" formControlName="Disc_amount" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Disc_Sub_Total</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Disc_Sub_Total" formControlName="Disc_Sub_Total" readonly>
                </div>
            </div>
        </div>
    </div>

     <div class="row pb-3 d-flex justify-content-end">
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Sub_Total</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Sub_Total" formControlName="subTotal" readonly>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-sm-5 col-form-label text-end">Grand Total</label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" placeholder="Enter Grand Total" formControlName="GrandTotal" readonly>
                </div>
            </div>
        </div>
    </div>
   

    <!-- Submit Button -->
    <div class="d-flex justify-content-center text-center bg-secondary-subtle p-4 gap-2">
        <button type="submit" class="btn btn-success" (click)="OnSubmit()"><i class="fas fa-check me-2"></i>Submit</button>
    </div>
    </form>
</div>
