<div class="cnote-entry-container px-2">
    <!-- Header Bar -->
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-filter me-2"></i>
        Pending Scan Report Query
    </div>
    <form [formGroup]="documentYetToScanForm">
        <div class="form-grid p-4">
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">DocType </div>
                <div class="col-md-3">
                    <ng-select class="required2" placeholder="DocType" [items]="DocTypelist" bindLabel="text"
                        formControlName="docType" bindValue="value"
                        [ngClass]="{ 'border-danger': documentYetToScanForm.get('docType')?.invalid && documentYetToScanForm.get('docType')?.touched }"></ng-select>
                    <div class="text-danger text-start"
                        *ngIf="documentYetToScanForm.get('docType')?.invalid && documentYetToScanForm.get('docType')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>
            <!-- Row 1 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">Select RO :</div>
                <div class="col-md-3">
                    <ng-select class="required2 clear-icon" placeholder="Select RO" formControlName="RO"
                        (change)="scanFmDocumentsService.getLocationListFromROList($event)"
                        [ngClass]="{ 'border-danger': documentYetToScanForm.get('RO')?.invalid && documentYetToScanForm.get('RO')?.touched }">
                        <ng-option *ngFor="let item of scanFmDocumentsService.ROData" [value]="item.id">
                            <strong>{{ item.id }}</strong> : {{ item.text }}
                        </ng-option>
                    </ng-select>
                    <div class="text-danger text-start"
                        *ngIf="documentYetToScanForm.get('RO')?.invalid && documentYetToScanForm.get('RO')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">Select Location : </div>
                <div class="col-md-3">
                    <ng-select class="required2 clear-icon" placeholder="Enter Select Location"
                        formControlName="Loccode" [items]="scanFmDocumentsService.locationList" bindLabel="text"
                        bindValue="id"
                        [ngClass]="{ 'border-danger': documentYetToScanForm.get('Loccode')?.invalid && documentYetToScanForm.get('Loccode')?.touched }"></ng-select>
                    <div class="text-danger text-start"
                        *ngIf="documentYetToScanForm.get('Loccode')?.invalid && documentYetToScanForm.get('Loccode')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">Select Date :</div>
                <div class="col-md-3">
                    <div class="input-group shadow-sm rounded" (click)="dvr.toggle()">
                        <span class="input-group-text bg-white border-end-0 p-2">
                            <i class="fas fa-calendar-alt text-dark text-secondary"></i>
                        </span>
                        <input type="text" placeholder="Daterangepicker"
                            class="form-control border-start-1 text-center line-height uppercase-none "
                            bsDaterangepicker #dvr="bsDaterangepicker" [class.disabled-input]="true"
                            formControlName="dateRange"
                            [bsConfig]="{ ranges: commonService.ranges, rangeInputFormat: 'MMMM D, YYYY', containerClass: 'theme-dark-blue', dateInputFormat: 'MMMM D, YYYY'}" />
                    </div>
                </div>
            </div>



            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end" style="font-size: 1.2rem;">PFM Status :</div>
                <div class="col-md-3 text-start d-flex align-items-center" style="gap: 15px;">
                    <div class="form-check form-check-inline" style="font-size: 1.2rem; margin-right: 20px;">
                        <input class="form-check-input" type="radio" name="fM_Status" id="allStatus" value="All" checked
                            style="transform: scale(1.2);" formControlName="fM_Status">
                        <label class="form-check-label" for="allStatus">All</label>
                    </div>
                    <div class="form-check form-check-inline" style="font-size: 1.2rem; margin-right: 20px;">
                        <input class="form-check-input" type="radio" name="fM_Status" id="generatedStatus"
                            value="generated" style="transform: scale(1.2);" formControlName="fM_Status">
                        <label class="form-check-label" for="generatedStatus">Generated</label>
                    </div>
                    <div class="form-check form-check-inline" style="font-size: 1.2rem;">
                        <input class="form-check-input" type="radio" name="fM_Status" id="receivedStatus"
                            value="received" style="transform: scale(1.2);" formControlName="fM_Status">
                        <label class="form-check-label" for="receivedStatus">Received</label>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="bg-secondary-subtle p-4 gap-2">
        <div class="row pb-3">
            <div class="col-md-4 col-form-label text-center">
                <button class="btn btn-success" (click)="goToForwardList()"> <i class="fas fa-search"></i> Get
                    List</button>
            </div>
        </div>
    </div>


    <div class="cnote-entry-container mt-4" *ngIf="showDocumentList">
        <!-- Header Bar -->
        <div
            class="text-white px-3 py-3 d-flex align-items-center justify-content-between fw-semibold background-color">
            <div>
                <i class="fas fa-list me-2"></i>
                POD PFM List
            </div>
            <button class="btn btn-success">Download XLS</button>
        </div>

        <!-- <div class="text-center p-3 ">
                <p><strong>SCORPION EXPRESS PVT LTD</strong></p>
                <p><strong>Address</strong> : 405, Shah and Nahar Industrial Estate, Dr. E Moses Road, Worli, Mumbai, INDIA - 400 018.</p>
                <p><strong>WhatsApp No.</strong> : 1800221945 <strong>/</strong> <strong>E-Mail</strong> :{{'info@scorpiongoup.in'}}</p>
                <p class="mb-0"><strong>Web</strong> : <a href="https://scorpiongoup.in/" target="_blank">https://scorpiongoup.in/</a></p>
        </div> -->

        <!-- <div class="p-3 pb-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Document Type :
                        </label>
                        <div class="text-primary-color col-md-9 text-start">
                            {{ 'POD' }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            From - To :
                        </label>
                        <div class="col-md-6 text-primary-color text-start">
                            {{'01 Jan 2025 - 18 Feb 2026'}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Region :
                        </label>
                        <div class="col-md-6 text-primary-color text-start">
                            {{'ALL'}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Location :
                        </label>
                        <div class="col-md-6 text-primary-color text-start">
                            {{'ALL'}}
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="table-responsive m-3 p-3 pt-0" style="max-height: 650px; overflow-y: auto; overflow-x: auto;">
            <table class="table table-bordered align-middle mb-0 table-condensed flip-content">
                <thead class="table-light text-center sticky-top bg-light">
                    <tr>
                        <th>Sr No</th>
                        <th>CNote No</th>
                        <th>Origin - Destination</th>
                        <th>From - To</th>
                        <th>Dely. Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center p-3">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <!-- If no data found -->
                    <tr *ngIf="!loading && !(documentYetToScan?.length)">
                        <td colspan="6" class="text-center text-muted p-3">
                            No Record Found.
                        </td>
                    </tr>
                    <tr *ngFor="let item of documentYetToScan; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.dockno}}</td>
                        <td>{{item.loc}}</td>
                        <td>{{item.from_to}}</td>
                        <td>{{ item.dely_date | date: 'dd MMM yy' }}</td>
                        <td>{{item.dkttot}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>