<div class="cnote-entry-container px-1">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fa fa-edit me-2"></i>
  CNote Entry - Consignor & Consignee Details
  </div>
<div class="form-grid p-4">
  <form [formGroup]="docketService.consignorForm">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <h5><b>Consignor </b></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Consignor GST No.</label>
                <div class="col-md-7">
                  <input class="form-control GSTNo clsGST" formControlName="consignorGSTNo" (blur)="getGSTNODetails($event,'Conr')" maxlength="15" 
                    placeholder="Consignor GST No." type="text" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
             <div class="form-group">
                <label class="control-label col-md-5">Select Consignor</label>
                <div class="col-md-7 d-flex align-items-center gap-4">
                  <!-- <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="consignorSelection" formControlName="consignorSelection" value="master">
                    From Master
                  </label> -->
                  <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="consignorSelection" value="walkin" formControlName="consignorSelection">
                    Walk-In
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Select Name </label>
                <div class="col-md-7">
                <ng-select class="noFoundTextColor" placeholder="Select Name" formControlName="consignorName" notFoundText="Please enter atleast 3 characters" readonly></ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5"></label>
                <div class="col-md-7">
                  <input class="required2 form-control required clsCnor" formControlName="consignorMasterName" 
                    placeholder="Consignor Name" type="text" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Address </label>
                <div class="col-md-7">
               <!-- <ng-select class="noFoundTextColor" placeholder="Address"></ng-select> -->
                  <textarea class="required2 form-control-textarea required clsCnor" formControlName="consignorAddress" cols="20" 
                    placeholder="Address" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">City </label>
                <div class="col-md-7">
                  <input class="required2 form-control required clsCnor"  formControlName="consignorCity"
                    placeholder="City" type="text" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Pincode </label>
                <div class="col-md-7">
                 <ng-select class="noFoundTextColor" [items]="docketService.pincodeList" bindLabel="pinArea"
                bindValue="pinArea" placeholder="Pincode" formControlName="consignorPincode"
                notFoundText="Please enter atleast 3 characters" (search)="docketService.getpincodeData($event)" ></ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Mobile No </label>
                <div class="col-md-7">
                  <input class="form-control required required2 clsCnor"  formControlName="consignorMobile"
                    maxlength="10"  placeholder="Mobile No">
                    <!-- <div *ngIf="docketService.consignorForm.get('consignorMobile')?.touched && docketService.consignorForm.get('consignorMobile')?.invalid"
                      class="text-danger">
                      <div *ngIf="docketService.consignorForm.get('consignorMobile')?.errors?.['pattern']">
                        Please enter a valid Indian mobile number.
                      </div>
                    </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Email Id </label>
                <div class="col-md-7">
                  <input class="form-control"  placeholder="Email Id" formControlName="consignorEmail" type="email">
                </div>
              </div>
            </div>
          </div>
    
        </div>
    
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <h5><b>Consignee </b></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Consignee GST No.</label>
                <div class="col-md-7">
                  <input class="required2 form-control" formControlName="consigneeGSTNo"  maxlength="15"  (input)="getGSTNODetails($event ,'Conee')"
                     placeholder="Consignee GST No." type="text" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Select Consignee</label>
                <div class="col-md-7 d-flex align-items-center gap-4">
                  <!-- <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="consigneeSelection" formControlName="consigneeSelection" value="master">
                    From Master
                  </label> -->
                  <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="consigneeSelection" formControlName="consigneeSelection" value="walkin">
                    Walk-In
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Select Name </label>
                <div class="col-md-7">
                <ng-select class="noFoundTextColor" placeholder="Select Name" formControlName="consigneeName" notFoundText="Please enter atleast 3 characters" readonly></ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5"></label>
                <div class="col-md-7">
                  <input class="required2 form-control required clsCnee" formControlName="consigneeMasterName"
                    placeholder="Consignee Name" type="text" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Address </label>
                <div class="col-md-7">
                  <!-- <select class="form-control required2" placeholder="Address"></select> -->
                  <textarea class="required2 form-control-textarea required clsCnee" formControlName="consigneeAddress" cols="20" 
                    placeholder="Address" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">City </label>
                <div class="col-md-7">
                  <input class="required2 form-control required clsCnee" formControlName="consigneeCity"
                    placeholder="City" type="text" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Pincode </label>
                <div class="col-md-7">
                  <ng-select class="noFoundTextColor" [items]="docketService.pincodeList" bindLabel="pinArea"
                bindValue="pinArea" placeholder="Pincode" formControlName="consigneePincode"
                notFoundText="Please enter atleast 3 characters" (search)="docketService.getpincodeData($event)"></ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Mobile No </label>
                <div class="col-md-7">
                  <input class="form-control required required2" formControlName="consigneeMobile" maxlength="10"
                    placeholder="Mobile No" type="text" 
                   >
                    <!-- <div *ngIf="docketService?.consignorForm?.get('consigneeMobile')?.touched && docketService.consignorForm.get('consigneeMobile')?.invalid"
                      class="text-danger">
                      <div *ngIf="docketService?.consignorForm?.get('consigneeMobile')?.errors?.['pattern']">
                        Please enter a valid Indian mobile number.
                      </div>
                    </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Email Id </label>
                <div class="col-md-7">
                  <input class="form-control" formControlName="consigneeEmail"  placeholder="Email Id" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- <div class="col-md-3">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
              <h5><b>Third Party </b></h5>
            </div>
          </div>
    
          <div id="divDocument" class="col-md-12">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Third Party GST No.</label>
                <div class="col-md-7">
                  <input class="form-control"  maxlength="15" formControlName="thirdPartyGSTNo"
                     placeholder="Third Party GST No." type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
               <div class="form-group">
                <label class="control-label col-md-5">Select Third Party</label>
                <div class="col-md-7 d-flex align-items-center gap-4">
                  <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="thirdPartySelection" value="master" formControlName="thirdPartySelection">
                    From Master
                  </label>
                </div>
              </div>
              </div>
            </div>
    
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Select Name </label>
                <div class="col-md-7">
                  <input class="form-control" placeholder="Third Party Code"type="text" formControlName="thirdPartyCode" >
                </div>
              </div>
            </div>
    
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5"></label>
                <div class="col-md-7">
                  <input class="form-control clsTP" placeholder="Third Party Name" formControlName="thirdPartyName"
                    type="text">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Address</label>
                <div class="col-md-7">
                  <textarea class="form-control-textarea clsTP" formControlName="thirdPartyAddress" cols="20" 
                    placeholder="Third Party Address" rows="2"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">City </label>
                <div class="col-md-7">
                  <input class="form-control clsTP"placeholder="City"  formControlName="thirdPartyCity"
                    type="text" >
                </div>
              </div>
            </div>
    
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Pincode </label>
                <div class="col-md-7">
                  <input class="form-control" placeholder="PinCode" formControlName="thirdPartyPincode" type="text">
                </div>
              </div>
            </div>
    
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5">Mobile No </label>
                <div class="col-md-7">
                  <input class="form-control" maxlength="10" formControlName="thirdPartyMobile" placeholder="Mobile No">
                </div>
              </div>
            </div>
          </div>
        </div> -->
    
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
              <h5><b>Documents </b></h5>
            </div>
          </div>
          <div class="portlet-body ">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                <label class="control-label col-md-5">Risk Type</label>
                <div class="col-md-7 d-flex align-items-center gap-4">
                  <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="riskType" formControlName="riskType" value="c">
                    Carrier's Risk
                  </label>
                  <label class="d-flex align-items-center gap-2 mb-0">
                    <input type="radio" name="riskType" formControlName="riskType" value="o">
                    Owner's Risk
                  </label>
                </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5">Policy No</label>
                  <div class="col-md-7">
                    <input class="form-control " formControlName="policyNo" placeholder="Policy No" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5">Policy Date </label>
                  <div class="col-md-7">
                    <input class="form-control" formControlName="policyDate" placeholder="Policy Date" type="text" value="1/1/0001 12:00:00 AM">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5"> Internal Covers </label>
                  <div class="col-md-7">
                    <input class="form-control " formControlName="internalCovers" placeholder="Internal Covers" type="text" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5">Modvat Covers </label>
                  <div class="col-md-7">
                    <input class="form-control " formControlName="modvatCovers" placeholder="Modvat Covers" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5">Customer Ref No </label>
                  <div class="col-md-7">
                    <input class="form-control " formControlName="customerRefNo" placeholder="Customer Ref No" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5">Private Mark </label>
                  <div class="col-md-7">
                    <input class="form-control " formControlName="privateMark" placeholder="Private Mark" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-5">TP Number </label>
                  <div class="col-md-7">
                    <input class="form-control " formControlName="tpNumber" placeholder="TP Number " type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

</div>
