<div class="cnote-entry-container">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-filter me-2"></i>
    Loading Sheet Generation criteria
  </div>
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Loading Sheet No.</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> Loading Sheet Date</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> Manual LS No.</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Loading By</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> Next Stop Location</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> Charge type</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">LS Transport Mode</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end"> Select Vehicle</label>
          <div class="col-sm-7 d-flex align-items-center">
            <div class="d-flex align-items-center">
              <input type="radio" class="me-3" name="is_Local_ODA_id" value="local">
              <label>Local</label>
            </div>
            <div class="ms-5 d-flex align-items-center">
              <input type="radio" class="me-3" name="is_Local_ODA_id" value="ODA">
              <label>ODA</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> Seal No</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Vehicle No</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> Prepared By</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end"> UserName</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">LS Type</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-filter me-2"></i>
    Select criteria for preparing Loading Sheet
  </div>
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Select Date</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Transport Mode</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Destination</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-2 text-primary justify-content-center">
        [Separated by <b>Comma</b> if multiple]
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Docket No</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-2 text-primary justify-content-center">
        [Separated by <b>Comma</b> if multiple]
      </div>
    </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-list me-2"></i>
    Loading Charges
  </div>
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Loading By :</label>
          <div class="col-sm-7 text-start fw-bold">
            ATTACHED
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Vendor Code </label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Rate </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Rate" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Loading Charge </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Loading Charge" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-list me-2"></i>
    Mathadi Applicable Charges
  </div>
  <div class="form-grid p-4">
      <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Is Mathadi Applicable</label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Loading Charge" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Is Mathadi Applicable</label>
          <div class="col-sm-7">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Rate </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Rate" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>