<form [formGroup]="loadingSheetService.LSForm">

@if(this.docketService.loginUserList.Type === 'LS'){
  <div class="cnote-entry-container">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
      <i class="fas fa-filter me-2"></i>
      Loading Sheet Generation criteria
    </div>
    <div class="form-grid p-4">
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Loading Sheet No.</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="lsNO" placeholder="System Generated" readonly>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Loading Sheet Date</label>
            <div class="col-sm-7">
              <input class="form-control required2" formControlName="lsDate" placeholder="Loading Sheet Date"
                readonly>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Manual LS No.</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="manualLsNO" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center" *ngIf="loadingSheetService.LSForm.value.mF_TransportMode === 'S'">
            <label class="col-sm-5 col-form-label text-end">Loading By</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2" placeholder="Select Loading By" formControlName="loadingBy"
                notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId"
                [items]="generalMasterService.loadingData" (change)="getvendoCodeData($event)"
                [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('loadingBy')?.invalid  && loadingSheetService.LSForm.get('loadingBy')?.touched }"></ng-select>
              <div class="text-danger text-start"
                *ngIf="loadingSheetService.LSForm.get('loadingBy')?.invalid && loadingSheetService.LSForm.get('loadingBy')?.touched">
                This field is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Next Stop Location</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2 clear-icon" placeholder="Select Next Stop Location" formControlName="nextStopLocation"
                notFoundText="No matches found" [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('nextStopLocation')?.invalid  && loadingSheetService.LSForm.get('nextStopLocation')?.touched }"
                (search)="getLocationDetail($event)" [notFoundText]="nextLocationValue" (open)="resetNextLocationDropdown()" [readonly]="isgetLoadingList">
                <ng-option *ngFor="let item of locationData" [value]="item.id">
                  <strong>{{ item.id }}</strong> : {{ item.text }}
                </ng-option>
              </ng-select>
              <div class="text-danger text-start"
                *ngIf="loadingSheetService.LSForm.get('nextStopLocation')?.invalid && loadingSheetService.LSForm.get('nextStopLocation')?.touched">
                This field is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="loadingSheetService.LSForm.value.mF_TransportMode === 'S'">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Charge type</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2" placeholder="Select Charge type" formControlName="rateType"
                notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId"
                [items]="generalMasterService.chargeTypeData"
                [readonly]="loadingSheetService.LSForm.value.loadingBy === 'XX9'"
                [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('rateType')?.invalid  && loadingSheetService.LSForm.get('rateType')?.touched }"></ng-select>
              <div class="text-danger text-start"
                *ngIf="loadingSheetService.LSForm.get('rateType')?.invalid && loadingSheetService.LSForm.get('rateType')?.touched">
                This field is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">LS Transport Mode</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2" placeholder="Select LS Transport Mode"
                formControlName="mF_TransportMode" notFoundText="No matches found" bindLabel="codeDesc"
                bindValue="codeId" [items]="generalMasterService.LsTransportModeData"
                [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('mF_TransportMode')?.invalid  && loadingSheetService.LSForm.get('mF_TransportMode')?.touched }"></ng-select>
              <div class="text-danger text-start"
                *ngIf="loadingSheetService.LSForm.get('mF_TransportMode')?.invalid && loadingSheetService.LSForm.get('mF_TransportMode')?.touched">
                This field is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end"> Select Vehicle</label>
            <div class="col-sm-7 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <input type="radio" class="me-3" name="rdVehicle" value="Own" formControlName="rdVehicle">
                <label>Own</label>
              </div>
              <div class="ms-5 d-flex align-items-center">
                <input type="radio" class="me-3" name="rdVehicle" value="Market" formControlName="rdVehicle">
                <label>Market</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Seal No</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="sealNo" placeholder="Seal No" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4" *ngIf="loadingSheetService.LSForm.value.mF_TransportMode === 'S'">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Vehicle No</label>
            <div class="col-sm-7" *ngIf="loadingSheetService.LSForm.value.rdVehicle==='Own'">
              <ng-select class="noFoundTextColor clear-icon" placeholder="Select Vehicle No" formControlName="vehno"
                (search)="getVehicleNumberDetail($event)" [notFoundText]="noVehicleValue"
                [readonly]="!loadingSheetService.LSForm.value.loadingBy || isgetLoadingList "
                (open)="resetvehicleNoDropdown()">
                <ng-option *ngFor="let item of vehicleNumberData" [value]="item.vehno">
                  <strong>{{ item.vehno }}</strong> : {{ item.vehno }}
                </ng-option>
              </ng-select>
            </div>
            <div class="col-sm-7" *ngIf="loadingSheetService.LSForm.value.rdVehicle==='Market'">
              <input class="form-control" formControlName="vehno" placeholder="Vehicle No"
                [readonly]="!loadingSheetService.LSForm.value.loadingBy">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Prepared By</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="preparedBy" placeholder="Prepared By"
                [readOnly]="isgetLoadingList">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> UserName</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="UserName" placeholder="UserName" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">LS Type</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor clear-icon" placeholder="Select LS Type"
                formControlName="lsType" notFoundText="No matches found" bindLabel="text" bindValue="value"
                [items]="LsTypeList"></ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if(this.docketService.loginUserList.Type === 'LS'){
  <div class="cnote-entry-container mt-5">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
      <i class="fas fa-filter me-2"></i>
      Select criteria for preparing Loading Sheet
    </div>
    <div class="form-grid p-4">
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Select Date</label>
            <div class="col-sm-7" (click)="!isgetLoadingList && dvr.toggle()">
              <input type="text" placeholder="Daterangepicker"
                class="form-control border-start-1 text-center line-height" bsDaterangepicker #dvr="bsDaterangepicker"
                formControlName="reportrange" [class.disabled-input]="true"
                [bsConfig]="{ ranges: commonService.ranges, rangeInputFormat: 'MMMM D, YYYY', dateInputFormat: 'MMMM D, YYYY'}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Transport Mode</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor clear-icon" placeholder="Select Transport Mode"
                formControlName="transportMode" notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId"
                [items]="generalMasterService.modeData"></ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Destination</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="destinationList" placeholder="Destination">
            </div>
          </div>
        </div>
        <div class="col-2 text-primary d-flex justify-content-start align-content-center align-items-center">
          [Separated by <b> &nbsp; <i>Comma</i> &nbsp; </b> if multiple]
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Docket No.</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="docketNoList" placeholder="Docket No.">
            </div>
          </div>
        </div>
        <div class="col-2 text-primary d-flex justify-content-start align-content-center align-items-center">
          [Separated by <b>&nbsp;<i>Comma</i>&nbsp;</b> if multiple]
        </div>
      </div>
    </div>
  </div>
}

<div *ngIf="this.isgetLoadingList" class="fade-in">
  @if(this.docketService.loginUserList.Type === 'LS'){
  <div class="cnote-entry-container mt-5">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
      <i class="fas fa-list me-2"></i>
      Loading Charges
    </div>
    <div class="form-grid p-4">
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Loading By :</label>
            <div class="col-sm-7 text-start fw-bold">
              {{this.loadingSheetService.LSForm.value.vendorName }}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end">Vendor Code </label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2 clear-icon" placeholder="Select Vendor Name"
                formControlName="vendorCode" notFoundText="No matches found"
                [items]="challanService.branchWiseLoadingUnloadingList" bindLabel="text" bindValue="value"></ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Loading Charge </label>
            <div class="col-sm-7">
              <input class="form-control required2" placeholder="Loading Charge" type="text"
                formControlName="loadingCharge" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  @if(this.docketService.loginUserList.Type === 'ULS'){
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">LS No</label>
          <div class="col-sm-7 d-flex justify-content-start align-content-center align-items-center">
            LS/PIM/2526/000454
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Loading By</label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Loading By" type="text">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Loading Supervisor</label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Loading Supervisor" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">LS Type</label>
          <div class="col-sm-7">
            <input class="form-control" placeholder="LS Type" type="text">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Manual MF No</label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Manual MF No" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  <div class="cnote-entry-container mt-5">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
      <i class="fas fa-list me-2"></i>
      {{this.docketService.loginUserList.Type === 'ULS' ? 'Update Loading Sheet & Prepare Manifest' : 'List Loading Sheet'}}
    </div>
    <div class="cnote-entry-container p-3 pt-0">

      <div class="row text-success fw-bold mb-3 p-2">
        <div class="col-4 text-center">
          <label class="m-0 StyClss text-success"><b>Total No Of LR : {{totalDocketSelected||0}}</b></label>
        </div>

        <div class="col-4 text-center">
          <label class="m-0 StyClss text-success"><b>Total Wt. [L/B] :{{totalActWt || 0}}</b></label>
        </div>

        <div class="col-4 text-center">
          <label class="m-0 StyClss text-success"><b>Total Pkgs. [L/B] : {{totalPkgs || 0}}</b></label>
        </div>
      </div>
      <div style="max-height: 500px; overflow-y: auto;">
        <table class="table table-bordered table-hover table-condensed flip-content mb-0">
          <thead class="sticky-top bg-light">
            <tr>
              <th class="p-3 fw-bolder"><input type="checkbox" class="form-check-input checkbox-lg custom-big-checkbox" (change)="toggleSelectAll($event)"
                  style="cursor: pointer;"></th>
              <th class="p-3 fw-bolder">Cnote No.</th>
              <th class="p-3 fw-bolder">Manual Cnote No.</th>
              <th class="p-3 fw-bolder">Bkg. Date</th>
              <th class="p-3 fw-bolder">Trans. Mode</th>
              <th class="p-3 fw-bolder">Bkg. Loc.</th>
              <th class="p-3 fw-bolder">Dely. Loc.</th>
              <th class="p-3 fw-bolder">City From-To</th>
              <th class="p-3 fw-bolder">Comm. Dely Date</th>
              <th class="p-3 fw-bolder" *ngIf="this.docketService.loginUserList.Type === 'LS'">
                Rate
                <ng-select class="required2" bindLabel="codeDesc" bindValue="codeId"  [items]="generalMasterService.chargeTypeData"></ng-select>
              </th>
              <th class="p-3 fw-bolder">Pkgs.[L/B]</th>
              <th class="p-3 fw-bolder">Wt.[L/B]</th>
              <th class="p-3 fw-bolder">E-Way Bill No.</th>
            </tr>
          </thead>
        <tbody formArrayName="docketList">
          <tr *ngFor="let row of loadingSheetService.docketFormArray.controls; let i = index" [formGroupName]="i">
          <td>
            <ng-container *ngIf="row.value.message?.trim(); else checkError">
              <span class="text-danger fw-semibold">{{ row.value.message }}</span>
            </ng-container>
          
            <ng-template #checkError>
              <ng-container *ngIf="row.value.errorMassage?.trim(); else showCheckbox">
                <span class="text-danger fw-semibold">{{ row.value.errorMassage }}</span>
              </ng-container>
            </ng-template>
          
            <ng-template #showCheckbox>
              <input type="checkbox" formControlName="isChecked" class="form-check-input checkbox-lg custom-big-checkbox"
                (change)="updateSelectedCount()" style="cursor: pointer;" />
            </ng-template>
          </td>
            <td>{{ row.value.dockno }}</td>
            <td>{{ row.value.manual_dockno }}</td>
            <td>{{ row.value.docketDate }}</td>
            <td>{{ row.value.transMode }}</td>
            <td>{{ row.value.orgCode }}</td>
            <td>{{ row.value.reDestCode }}</td>
        
            <td>{{ row.value.fromTo }}</td>
            <td>{{ row.value.commited_DelyDate }}</td>
        
            <td *ngIf="docketService.loginUserList.Type === 'LS'">
              <ng-select formControlName="ratetype" bindLabel="codeDesc" bindValue="codeId"  [items]="generalMasterService.chargeTypeData"></ng-select>
              <input type="text" class="form-control" formControlName="newRate">
            </td>
        
            <td>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control w-50 text-end me-2" formControlName="PackageLB" [readOnly]="!isAllSelected">
                <span class="text-primary ms-3">
                  / {{ row.value.packagesLB }} / {{ row.value.pkgsno | number:'1.2-2' }}
                </span>
              </div>
            </td>
        
            <td>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control w-50 text-end me-2" formControlName="WeightsLB" [readOnly]="!isAllSelected">
                <span class="text-primary ms-3">
                  / {{ row.value.weightLB }} / {{ row.value.actuwt | number:'1.2-2' }}
                </span>
              </div>
            </td>
        
            <td>{{row.value.eWayBillNo}}</td>
        
          </tr>
        </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
</form>

<div class="d-flex justify-content-center text-center p-4">
  <button class="btn btn-success" *ngIf="isgetLoadingList" (click)="loadingSheetService.prepareLoadingSheet()">
    <i class="fas fa-check"></i> Prepare Loading Sheet
  </button>
  <button class="btn btn-success" *ngIf="!isgetLoadingList" (click)="getLoadinglist()">
    <i class="fas fa-check"></i> Get LoadingSheet List
  </button>
</div>
