<form [formGroup]="loadingSheetService.LSForm">
<div class="cnote-entry-container">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-filter me-2"></i>
    Loading Sheet Generation criteria
  </div>
  <div class="form-grid p-4">

      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Loading Sheet No.</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="LsNO" placeholder="System Generated" readonly>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Loading Sheet Date</label>
            <div class="col-sm-7">
              <input class="form-control required2" formControlName="LsDate" placeholder="Select Loading Sheet Date" readonly>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Manual LS No.</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="ManualLsNO" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center" *ngIf="loadingSheetService.LSForm.value.MF_TransportMode === '6'">
            <label class="col-sm-5 col-form-label text-end">Loading By</label>
            <div class="col-sm-7">
                <ng-select class="noFoundTextColor required2" placeholder="Select Loading By" formControlName="LoadingBy" 
                   notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId" [items]="generalMasterService.loadingData" (change)="getvendoCodeData($event)"
                   [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('LoadingBy')?.invalid  && loadingSheetService.LSForm.get('LoadingBy')?.touched }"></ng-select>
                <div class="text-danger text-start" *ngIf="loadingSheetService.LSForm.get('LoadingBy')?.invalid && loadingSheetService.LSForm.get('LoadingBy')?.touched">
                    This field is required.
                </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Next Stop Location</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2 clear-icon" placeholder="Select Next Stop Location" formControlName="NextStopLocation" 
                notFoundText="No matches found" [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('NextStopLocation')?.invalid  && loadingSheetService.LSForm.get('NextStopLocation')?.touched }"
                ></ng-select>
                <div class="text-danger text-start" *ngIf="loadingSheetService.LSForm.get('NextStopLocation')?.invalid && loadingSheetService.LSForm.get('NextStopLocation')?.touched">
                    This field is required.
                </div>
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="loadingSheetService.LSForm.value.MF_TransportMode === '6'">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Charge type</label>
            <div class="col-sm-7">
              <ng-select class="noFoundTextColor required2" placeholder="Select Charge type" formControlName="RateType" 
                notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId" [items]="generalMasterService.chargeTypeData" [readonly]="loadingSheetService.LSForm.value.LoadingBy==='XX9'"
                [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('RateType')?.invalid  && loadingSheetService.LSForm.get('RateType')?.touched }"
                ></ng-select>
              <div class="text-danger text-start" *ngIf="loadingSheetService.LSForm.get('RateType')?.invalid && loadingSheetService.LSForm.get('RateType')?.touched">
                    This field is required.
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">LS Transport Mode</label>
            <div class="col-sm-7">
               <ng-select class="noFoundTextColor required2" placeholder="Select LS Transport Mode" formControlName="MF_TransportMode" 
                notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId" [items]="generalMasterService.modeData" 
                [ngClass]="{ 'border-danger': loadingSheetService.LSForm.get('MF_TransportMode')?.invalid  && loadingSheetService.LSForm.get('MF_TransportMode')?.touched }"
                ></ng-select>
                <div class="text-danger text-start" *ngIf="loadingSheetService.LSForm.get('MF_TransportMode')?.invalid && loadingSheetService.LSForm.get('MF_TransportMode')?.touched">
                    This field is required.
                </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end"> Select Vehicle</label>
            <div class="col-sm-7 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <input type="radio" class="me-3" name="rdVehicle" value="Own" formControlName="rdVehicle">
                <label>Own</label>
              </div>
              <div class="ms-5 d-flex align-items-center">
                <input type="radio" class="me-3" name="rdVehicle" value="Market" formControlName="rdVehicle">
                <label>Market</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Seal No</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="SealNo" placeholder="select Seal No" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4" *ngIf="loadingSheetService.LSForm.value.MF_TransportMode === '6'">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">Vehicle No</label>
            <div class="col-sm-7" *ngIf="loadingSheetService.LSForm.value.rdVehicle==='Own'">
               <ng-select class="noFoundTextColor clear-icon" placeholder="Select Vehicle No" formControlName="VEHNO" 
                                notFoundText="No matches found" [readonly]="!loadingSheetService.LSForm.value.LoadingBy"></ng-select>
            </div>
             <div class="col-sm-7" *ngIf="loadingSheetService.LSForm.value.rdVehicle==='Market'">
              <input class="form-control" formControlName="VEHNO" placeholder="Select Vehicle No" [readonly]="!loadingSheetService.LSForm.value.LoadingBy">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> Prepared By</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="PreparedBy" placeholder="Select Prepared By">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label class="col-sm-5 col-form-label text-end"> UserName</label>
            <div class="col-sm-7">
              <input class="form-control" formControlName="UserName" placeholder="Select UserName" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-4">
          <div class="row align-items-center">
            <label class="col-sm-5 col-form-label text-end">LS Type</label>
            <div class="col-sm-7">
               <ng-select class="noFoundTextColor clear-icon" placeholder="Select Select LS Type" formControlName="LSType" 
                  notFoundText="No matches found" bindLabel="codeDesc" bindValue="codeId" [items]="docketService.serviceData"></ng-select>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-filter me-2"></i>
    Select criteria for preparing Loading Sheet
  </div>
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Select Date</label>
          <div class="col-sm-7"  (click)="dvr.toggle()"> 
             <input type="text" placeholder="Daterangepicker" class="form-control border-start-1 text-center line-height"
                                bsDaterangepicker #dvr="bsDaterangepicker" formControlName="reportrange" [class.disabled-input]="true"  [bsConfig]="{ ranges: commonService.ranges, rangeInputFormat: 'MMMM D, YYYY', dateInputFormat: 'MMMM D, YYYY'}" />
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Transport Mode</label>
          <div class="col-sm-7">
             <ng-select class="noFoundTextColor required2 clear-icon" placeholder="Select Transport Mode" formControlName="TransportMode" 
               notFoundText="No matches found"  bindLabel="codeDesc" bindValue="codeId" [items]="generalMasterService.modeData"></ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Destination</label>
          <div class="col-sm-7">
            <input class="form-control" formControlName="DestinationList" placeholder="Destination">
          </div>
        </div>
      </div>
      <div class="col-2 text-primary justify-content-center align-content-center">
        [Separated by <b>Comma</b> if multiple]
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Docket No.</label>
          <div class="col-sm-7">
            <input class="form-control" formControlName="DocketNoList" placeholder="Docket No.">
          </div>
        </div>
      </div>
      <div class="col-2 text-primary justify-content-center align-content-center">
        [Separated by <b>Comma</b> if multiple]
      </div>
    </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-list me-2"></i>
    Loading Charges
  </div>
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Loading By :</label>
          <div class="col-sm-7 text-start fw-bold">
            {{loadingName }}
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Vendor Code </label>
          <div class="col-sm-7">
             <ng-select class="noFoundTextColor required2 clear-icon" placeholder="Select Vendor Name" formControlName="VendorCode" 
               notFoundText="No matches found"  [items]="challanService.branchWiseLoadingUnloadingList" bindLabel="text" bindValue="value"></ng-select>
          </div>
        </div>
      </div>
      <!-- <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Rate </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Rate" type="text" formControlName="VendorName">
          </div>
        </div>
      </div> -->
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Loading Charge </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Loading Charge" type="text" formControlName="LoadingCharge">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-list me-2"></i>
    Mathadi Applicable Charges
  </div>
  <div class="form-grid p-4">
    <div class="row pb-3">
      <div class="col-4">
        <div class="row align-items-center">
          <label class="col-sm-5 col-form-label text-end">Is Mathadi Applicable</label>
          <div class="col-sm-7 text-start">
            <input type="checkbox" class="form-check-input ms-3 checkbox-lg custom-big-checkbox" formControlName="IsMathadi">
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Mathadi Slip no.</label>
          <div class="col-sm-7">
            <input class="form-control" placeholder="Mathadi Slip no." type="text">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Mathadi Date </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Mathadi Date" type="text">
          </div>
        </div>
      </div>
       <div class="col-4">
        <div class="row">
          <label class="col-sm-5 col-form-label text-end">Mathadi Slip Amt </label>
          <div class="col-sm-7">
            <input class="form-control required2" placeholder="Mathadi Slip Amt" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-list me-2"></i>
    List Loading Sheet
  </div>
  <div class="cnote-entry-container p-3 pt-0" >

    <div class="row text-success fw-bold mb-3 p-2">
      <div class="col-4 text-center">
        <label class="m-0 StyClss text-success" ><b>Total No Of LR : 0</b></label>
      </div>
    
      <div class="col-4 text-center">
        <label class="m-0 StyClss text-success"><b>Total Wt. [L/B] : 0</b></label>
      </div>
    
      <div class="col-4 text-center">
        <label class="m-0 StyClss text-success"><b>Total Pkgs. [L/B] : 0</b></label>
      </div>
    </div>
    <div style="max-height: 500px; overflow-y: auto;">
      <table class="table table-bordered table-hover table-condensed flip-content mb-0">
        <thead class="sticky-top bg-light">
          <tr>
            <th class="p-3 fw-bolder"><input type="checkbox" class="form-check-input checkbox-lg custom-big-checkbox"style="cursor: pointer;"></th>
            <th class="p-3 fw-bolder">Cnote No.</th>
            <th class="p-3 fw-bolder">Manual Cnote No.</th>
            <th class="p-3 fw-bolder">Bkg. Date</th>
            <th class="p-3 fw-bolder">Trans. Mode</th>
            <th class="p-3 fw-bolder">Bkg. Loc.</th>
            <th class="p-3 fw-bolder">Dely. Loc.</th>
            <th class="p-3 fw-bolder">City From-To</th>
            <th class="p-3 fw-bolder">Comm. Dely Date</th>
            <th class="p-3 fw-bolder">Rate</th>
            <th class="p-3 fw-bolder">Pkgs.[L/B]</th>
            <th class="p-3 fw-bolder">Wt.[L/B]</th>
            <th class="p-3 fw-bolder">E-Way Bill No.</th>
          </tr>
        </thead>
        <tbody>
          @for (item of LoadingSheetList; track $index) {
          <tr class="align-middle">
            <td><input type="checkbox" class="form-check-input checkbox-lg custom-big-checkbox" style="cursor: pointer;"></td>
            <td>{{item.CnoteNo}}</td>
            <td>{{item.ManualCnoteNo}}</td>
            <td>{{item.BkgDate}}</td>
            <td>{{item.TransMode}}</td>
            <td>{{item.BkgLoc}}</td>
            <td>{{item.DelyLoc}}</td>
            <td>{{item.CityFromTo}}</td>
            <td>{{item.CommDelyDate}}</td>
            <td>
              <ng-select class="required2" ></ng-select>
              <input type="text" class="form-control" >
            </td>
            <td>{{item.Pkgs_LB}}</td>
            <td>{{item.Wt_LB}}</td>
            <td></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="cnote-entry-container mt-5">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fas fa-list me-2"></i>
    Internal Document List
  </div>
  <div class="form-grid p-4 StyClss text-start">  
     <b>No Record Found...................</b>
  </div>
</div>

<div class="d-flex justify-content-center text-center p-4">
  <button class="btn btn-success">
    <i class="fas fa-check"></i> Prepare Loading Sheet
  </button>
</div>
