<div class="cnote-entry-container px-2">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-list me-2"></i>
        Forwarded Document List for Acknowledgement
    </div>
    <!-- Table Section -->
    <div class="table-responsive p-3">
        <table class="table table-bordered table-hover align-middle mb-0 ">
            <thead class="table-light text-center">
                <tr>
                    <th style="width:40px;"><input type="checkbox"></th>
                    <th>FM No</th>
                    <th>Manual CNote No</th>
                    <th>PFM Date</th>
                    <th>FM Date</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>From-To</th>
                    <th>FM Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>62841503</td>
                    <td>62841503</td>
                    <td>MHP: MAHAPE - PIM: PIMPLAS</td>
                    <td>MAHAPE: BHIWANDI</td>
                    <td class="text-center">17 Jul 25</td>
                    <td class="text-end">0.00</td>
                    <td class="text-success fw-semibold">Scanned</td>
                    <td class="text-success fw-semibold">Scanned</td>
                    <td class="text-success fw-semibold">Scanned</td>
                </tr>
                 <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>62841503</td>
                    <td>62841503</td>
                    <td>MHP: MAHAPE - PIM: PIMPLAS</td>
                    <td>MAHAPE: BHIWANDI</td>
                    <td class="text-center">17 Jul 25</td>
                    <td class="text-end">0.00</td>
                    <td class="text-success fw-semibold">Scanned</td>
                    <td class="text-success fw-semibold">Scanned</td>
                    <td class="text-success fw-semibold">Scanned</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Back Button -->
<div class="d-flex justify-content-center bg-secondary-subtle p-4 gap-2 mt-4">
    <button class="btn btn-secondary" (click)="goToBackList()">
        ← Back
    </button>
    <button class="btn btn-success"> <i class="fas fa-check"></i> Get List</button>
</div>