<div class="cnote-entry-container px-1">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-list me-2"></i>
        Scan FM Documents
    </div>

    <form [formGroup]="documentForm" class="p-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-5">No Of Rows </label>
                    <div class="col-md-7">
                        <div class="input-group custom-input-group">
                            <input type="number" class="form-control rounded-0 rounded-start" placeholder="Enter rows"
                                min="1" formControlName="rowsCount" />
                            <button type="button" class="btn btn-add text-light rounded-0 rounded-end" title="Add Row"
                                (click)="addRowsFromInput()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-wrapper position-relative pt-2">
            <table class="table table-bordered table-striped table-condensed flip-content mb-0">
                <thead>
                    <tr>
                        <th>Document Type <div style="min-width: 300px" class="mx-4"><ng-select></ng-select></div>
                        </th>
                        <th>POD No.</th>
                        <th>Document No.</th>
                        <th>Front Scan Status</th>
                        <th>Front Document</th>
                        <th>Back Scan Status</th>
                        <th>Back Document</th>
                        <th>Is POD Bad</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="documents">
                    <tr *ngFor="let row of documents.controls; let i = index" [formGroupName]="i" class="align-middle">
                        <td style="min-width: 300px">
                            <ng-select formControlName="DocType" class="required2" placeholder="Select Condition"></ng-select>
                        </td>
                        <td><input type="text" formControlName="DocketNo" class="form-control required2" placeholder="POD No."></td>
                        <td><input type="text" formControlName="DocumentNo" class="form-control required2" placeholder="Document No."></td>
                        <td>{{ row.get('Status')?.value }}</td>
                        <td><input type="text" formControlName="frontDoc" class="form-control"></td>
                        <td>{{ row.get('Status1')?.value }}</td>
                        <td><input type="text" formControlName="backDoc" class="form-control"></td>
                        <td class="text-center"><input type="checkbox" formControlName="IsPODChecked"></td>
                        <td><textarea rows="2" formControlName="Remarks" class="form-control required2" placeholder="Remarks"></textarea></td>
                        <td class="text-danger fw-bold text-center" [class.cursor-pointer]="i !== 0" (click)="i !== 0 && removeRow(i)">
                            <span *ngIf="i !== 0">X</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>