<div class="cnote-entry-container px-2">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-list me-2"></i>
        Documents Track
    </div>
    <form [formGroup]="documentsTrackForm">
        <div class="form-grid p-4">
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">DocType :</div>
                <div class="col-md-3">
                    <ng-select class="required2" placeholder="Fm Type" [items]="DocTypelist" bindLabel="text"
                        formControlName="docType" bindValue="value"
                        [ngClass]="{ 'border-danger': documentsTrackForm.get('docType')?.invalid && documentsTrackForm.get('docType')?.touched }"></ng-select>
                    <div class="text-danger text-start"
                        *ngIf="documentsTrackForm.get('docType')?.invalid && documentsTrackForm.get('docType')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">Document No :</div>
                <div class="col-md-3">
                    <input class="form-control required2" placeholder="Document No :" formControlName="DocNo"
                        [ngClass]="{ 'border-danger': documentsTrackForm.get('DocNo')?.invalid && documentsTrackForm.get('DocNo')?.touched }">
                    <div class="text-danger text-start"
                        *ngIf="documentsTrackForm.get('DocNo')?.invalid && documentsTrackForm.get('DocNo')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="bg-secondary-subtle p-4 gap-2">
        <div class="row pb-3">
            <div class="col-md-4 col-form-label text-center">
                <button class="btn btn-success me-2" (click)="goToForwardList()"> <i class="fas fa-search "></i> Get
                    List</button>
                <button class="btn btn-success" (click)="downloadExcel()"> <i class="fas fa-list "></i>
                    Download XLS</button>
            </div>
        </div>
    </div>

    <div class="cnote-entry-container px-2 mt-4" *ngIf="showDocumentList">
        <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
            <i class="fas fa-list me-2"></i>
            Document Track List
        </div>
        <div class="p-3">
            <div class="row p-3">
                <div class="col-md-1">
                    <ng-select class="clear-icon" [items]="recordOptions" bindLabel="label" bindValue="value"
                        [(ngModel)]="selectedRecordCount" (change)="onRecordCountChange()"></ng-select>
                </div>
                <div class="col-md-2 col-form-label text-start">Records</div>
                <div class="col-md-5"></div>
                <div class="col-md-2 col-form-label text-end">Search</div>
                <div class="col-md-2"><input class="form-control" placeholder="Search" [(ngModel)]="searchText"
                        (input)="onSearchChange()"></div>
            </div>
            <div class="table-responsive m-3" style="max-height: 650px; overflow-y: auto; overflow-x: auto;">
                <table class="table table-bordered align-middle mb-0 table-condensed flip-content">

                    <thead class="table-light text-center sticky-top bg-light">
                        <tr>
                            <th (click)="sort('fm_no')" class="cursor-pointer">
                                PFM No.
                                <span *ngIf="sortColumn==='fm_no'">
                                    {{sortDirection==='asc' ? '▲' : '▼'}}
                                </span>
                            </th>
                            <th (click)="sort('fmdt')" class="cursor-pointer">
                                PFM Date
                                <span *ngIf="sortColumn==='fmdt'">
                                    {{sortDirection==='asc' ? '▲' : '▼'}}
                                </span>
                            </th>
                            <th (click)="sort('fromloc')" class="cursor-pointer">
                                From
                                <span *ngIf="sortColumn==='fromloc'">
                                    {{sortDirection==='asc' ? '▲' : '▼'}}
                                </span>
                            </th>
                            <th (click)="sort('toLoc')" class="cursor-pointer">
                                To
                                <span *ngIf="sortColumn==='toLoc'">
                                    {{sortDirection==='asc' ? '▲' : '▼'}}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="4" class="text-center p-3">
                                <div class="spinner-border"></div>
                            </td>
                        </tr>
                        <tr *ngIf="!loading && paginatedList.length === 0">
                            <td colspan="4" class="text-center text-muted p-3">
                                No Record Found.
                            </td>
                        </tr>
                        <tr *ngFor="let data of paginatedList">
                            <td class="text-center">{{data.fm_no}}</td>
                            <td>{{data.fmdt}}</td>
                            <td>{{data.fromloc}}</td>
                            <td>{{data.toLoc}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between align-items-center px-4 pb-3">

                <div>
                    Showing {{filteredDocumentList.length === 0 ? 0 : startIndex + 1}}
                    to {{endIndex}}
                    of {{filteredDocumentList.length}} entries
                </div>

                <div class="d-flex justify-content-center">

                    <button class="btn btn-light border me-1" (click)="goToPrevious()" [disabled]="currentPage === 1">
                        ‹
                    </button>

                    <button *ngFor="let page of pages" class="btn border me-1"
                        [class.btn-primary]="currentPage === page" (click)="goToPage(page)">
                        {{page}}
                    </button>

                    <button class="btn btn-light border" (click)="goToNext()" [disabled]="currentPage === totalPages">
                        ›
                    </button>
                </div>
            </div>
        </div>
    </div>