<div class="cnote-entry-container px-1">
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fa fa-edit me-2"></i>
        CNote Entry - Consignor & Consignee Details
    </div>
    <div class="form-grid p-4">
        <form>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group">
                        <label class="col-md-5">Entry Type</label>
                        <div class="col-md-7">
                            <div class="radio-group ">
                                <label for="radio2" class="d-flex"><input id="radio2" name="radio" type="radio"
                                        class="radio me-2" checked />Normal</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group">
                        <label class="col-md-5">EwayBill Number</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control " placeholder="EwayBill Number" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">CNote No</label>
                        <div class="col-md-7"><input type="text" class="form-control" placeholder="CNote No"/></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">CNote Date</label>
                        <div class="col-md-7"><input type="date" class="form-control required2" placeholder="CNote Date"/></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Billing Type</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Billing Type"></select></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Pincode</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Pincode"></select></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Origin</label>
                        <div class="col-md-7"><input type="text" disabled value="HQTR" class="form-control"  placeholder="Origin"/></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Origin State Name</label>
                        <div class="col-md-7"><input type="text" disabled class="form-control required2"  placeholder="Origin State Name"/></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Destination</label>
                        <div class="col-md-7"><input type="text" class="form-control required2"  placeholder="Destination"/></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Dest State Name</label>
                        <div class="col-md-7"><input type="text" disabled class="form-control required2"  placeholder="Dest State Name"/></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Transit Mode</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Transit Mode"></select></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">From City</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="From City"></select></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">To City</label>
                        <div class="col-md-7"><input type="text" class="form-control required2" placeholder="To City"/></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Pickup/Delivery</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Pickup/Delivery"></select></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Service Type</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Service Type"></select></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Type of Movement</label>
                        <div class="col-md-7"><select class="form-control" placeholder="Type of Movement"></select></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Contents</label>
                        <div class="col-md-7"><input type="text" class="form-control required2" placeholder="Contents"/></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Packaging Type</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Packaging Type"></select></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Business Type</label>
                        <div class="col-md-7"><select class="form-control required2" placeholder="Business Type"></select></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Special Instruction</label>
                        <div class="col-md-7"><textarea class="form-control"  placeholder="Special Instruction"></textarea></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Exempt Services</label>
                        <div class="col-md-7"><select class="form-control"  placeholder="Exempt Services"></select></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group">
                        <label for="refDkt" class="col-md-5">Apply Reference DKT</label>
                        <div class="col-md-7 text-start">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Sac Code</label>
                        <div class="col-md-7"><input type="text" class="form-control"  placeholder="Sac Code"/></div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group"><label class="col-md-5">Sac Code Description</label>
                        <div class="col-md-7"><input type="text" disabled class="form-control" placeholder="Sac Code Description"/></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group">
                        <label for="appointment" class="col-md-5">Appointment Delivery</label>
                        <div class="col-md-7 text-start">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-column ">
                    <div class="form-group ">
                        <label for="CSD" class="col-md-5">CSD Delivery</label>
                        <div class="col-md-7 text-start">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-column ">
                    <div class="form-group">
                        <label for="ODA" class="col-md-5">ODA Applicable</label>
                        <div class="col-md-7 text-start">
                            <label class="yes-no">
                                <input type="checkbox"><span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 form-column ">
                    <div class="form-group">
                        <label class="control-label col-md-5 text-primary bold">Is Local CNote?</label>
                        <div class="col-md-2 chkactive">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-4 text-danger bold" style="margin-top:5px;">(Same Origin-Destination)</div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="pb-4 text-start appointment bold">Appointment Details</h3>
                <div class="p-3">
                    <div class="row">
                        <div class="col-md-3 form-column">
                            <div class="form-group"><label class="col-md-5">Appointment</label>
                                <div class="col-md-5"><input type="text" placeholder="Appointment"
                                        class="form-control col-md-5" /></div>
                            </div>
                        </div>
                        <div class="col-md-3 form-column">
                            <div class="form-group"><label class="col-md-5"> Name Of Person</label>
                                <div class="col-md-5"><input type="text" class="form-control col-md-5"
                                        placeholder="Name Of Person" /></div>
                            </div>
                        </div>
                        <div class="col-md-3 form-column">
                            <div class="form-group"><label class="col-md-5"> Contact Number</label>
                                <div class="col-md-5"><input type="text" class="form-control col-md-5"
                                        placeholder="Contact Number" /></div>
                            </div>
                        </div>
                        <div class="col-md-3 form-column">
                            <div class="form-group"><label class="col-md-5"> Remarks</label>
                                <div class="col-md-5"><input type="text" placeholder="Remarks"
                                        class="form-control col-md-5" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 form-column">
                            <div class="form-group"><label class="col-md-5"> From Time</label>
                                <div class="col-md-5"><input type="time" placeholder="From Time"
                                        class="form-control col-md-5" /></div>
                            </div>
                        </div>
                        <div class="col-md-3 form-column">
                            <div class="form-group"><label class="col-md-5"> To Time</label>
                                <div class="col-md-5"><input type="time" placeholder="To Time" class="form-control " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>