<div class="cnote-entry-container px-1">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fa fa-edit me-2"></i>
    CNote Entry - Basic Details
  </div>
  <div class="form-grid p-4">
    <form [formGroup]="docketService.basicDetailForm">
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group">
            <label class="col-md-5">Entry Type</label>
            <div class="col-md-7">
              <div class="radio-group ">
                <label for="radio2" class="d-flex"><input id="radio2" name="radio" type="radio" class="radio me-2"
                    checked />Normal</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group">
            <label class="col-md-5">EwayBill Number</label>
            <div class="col-md-7">
              <input type="text" class="form-control " placeholder="EwayBill Number" formControlName="ewayBillNo"
                (blur)="docketService.getGSTNODetails($event)" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">CNote No</label>
            <div class="col-md-7"><input type="text" class="form-control" placeholder="CNote No"
                formControlName="cNoteNo" /></div>
          </div>
        </div>
        <div class="col-md-4 form-column">
          <div class="form-group">
            <label class="col-md-5">CNote Date</label>
            <div class="col-md-7">
              <input type="date" class="form-control required2" placeholder="CNote Date" formControlName="cNoteDate"
                [max]="docketService.today" (click)="openDatePicker($event)" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Billing Type</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor" [items]="billingTypeData" bindLabel="codeDesc" bindValue="codeId"
                placeholder="Billing Type" formControlName="billingType" (change)="onChangeBillingType($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Pincode</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor required2" [items]="docketService.pincodeList" bindLabel="pinArea"
                bindValue="value" placeholder="Pincode" formControlName="pincode"
                 [notFoundText]="docketService.notPincodeValue" (search)="docketService.getpincodeData($event)"
                (change)="docketService.onChangePinCode($event);docketService.onFormFieldChange();"></ng-select></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Billing Party</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor required2" 
                placeholder="Billing Party" [searchable]="true"   [clearable]="true"  (search)="getBillingPartyData($event)"  (change)="onChangeBillingParty($event);docketService.onFormFieldChange()"
                formControlName="billingParty"  [notFoundText]="notFoundTextValue">
                <ng-option *ngFor="let item of billingPartyData" [value]="item">
                  <strong>{{ item.custcd }}</strong> : {{ item.custnm }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Billing Name</label>
            <div class="col-md-7"><input type="text" class="form-control required2" placeholder="Billing Name"
                formControlName="billingName" readonly></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Origin</label>
            <div class="col-md-7"><input type="text"  class="form-control" placeholder="Origin"
                formControlName="origin" readonly /></div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Origin State Name</label>
            <div class="col-md-7"><input type="text" class="form-control required2" placeholder="Origin State Name"
                formControlName="originState" readonly /></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Destination</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor required2" [searchable]="true" (search)="getDestinationsList($event)" (change)="onChangedestinationsList($event);docketService.onFormFieldChange()" placeholder="Destination" formControlName="destination" 
               [notFoundText]="notDestinationValue">
                <ng-option *ngFor="let item of destinationsList" [value]="item">
                  <strong>{{ item.locCode }}</strong> : {{ item.locName }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Dest State Name</label>
            <div class="col-md-7"><input type="text" class="form-control required2" placeholder="Dest State Name"
                formControlName="destinationState" readonly /></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Transit Mode</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor required2" placeholder="Transit Mode" notFoundText="No matches found" [items]="docketService.transportModeData" bindLabel="codeDesc" bindValue="codeId" (change)="docketService.GetGSTFromTrnMode()"
                formControlName="mode"></ng-select>
              </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">From City</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor required2" placeholder="From City" (search)="getCityList($event,this.docketService.Location,'from')" (change)="onChangeCityListList($event,'from')"
               formControlName="fromCity"
               [notFoundText]="notFromCityValue">
                <ng-option *ngFor="let item of fromCityList" [value]="item.location">
                  <strong>{{ item.location }}</strong> : {{ item.location }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column " *ngIf="!docketService.basicDetailForm.get('destination')?.value">
          <div class="form-group"><label class="col-md-5">To City</label>
            <div class="col-md-7">
              <input type="text" class="form-control required2" placeholder="To City" formControlName="toCity" />
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column " *ngIf="docketService.basicDetailForm.get('destination')?.value">
          <div class="form-group"><label class="col-md-5">To City</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor" placeholder="To City" (search)="getCityList($event,this.docketService.basicDetailForm.get('destination')?.value,'to')"
                (change)="onChangeCityListList($event,'to');this.docketService.getGSTCalculation()" formControlName="toCity"
                [notFoundText]="notToCityValue">
                <ng-option *ngFor="let item of toCityList" [value]="item.location">
                  <strong>{{ item.location }}</strong> : {{ item.location }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Pickup/Delivery</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor required2" placeholder="Pickup/Delivery" [items]="docketService.pickUpData" bindLabel="codeDesc" bindValue="codeId"
                formControlName="pickup" notFoundText="No matches found"></ng-select></div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Service Type</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor required2" placeholder="Service Type" [items]="docketService.serviceData" bindLabel="codeDesc" bindValue="codeId"
                formControlName="serviceType" notFoundText="No matches found" (change)="docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();docketService.getProRataCharge()"></ng-select></div>
          </div>
        </div>
        <div class="col-md-4 form-column " *ngIf="docketService.basicDetailForm.get('serviceType')?.value ==='2'">
          <div class="form-group"><label class="col-md-5">Type of Movement</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor" [items]="docketService.typeofMovementList" bindLabel="codeDesc" bindValue="codeId" placeholder="Type of Movement"
                formControlName="typeMovement" notFoundText="No matches found"></ng-select></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Contents</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor required2" type="text"  placeholder="Contents" [items]="docketService.contentsData" bindLabel="codeDesc" bindValue="codeId"
                formControlName="contents" notFoundText="No matches found"></ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Packaging Type</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor required2" placeholder="Packaging Type" [items]="docketService.packagingTypeData" bindLabel="codeDesc" bindValue="codeId"
                formControlName="packingType" notFoundText="No matches found"></ng-select></div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Business Type</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor required2" [items]="docketService.businessTypeList" bindLabel="codeDesc" bindValue="codeId" placeholder="Business Type"
                formControlName="businessType"  notFoundText="No matches found"></ng-select></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">COD/DOD</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="IsCODDOD" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
           <!-- <div class="col-md-4 form-column" *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y'">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Volumetric</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="volumetric" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
         <div class="col-md-4 form-column">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">ODA</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="IsODA" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div> -->
      </div>
      <!-- <div class="row"> -->
        <!-- <div class="col-md-4 form-column" *ngIf="this.docketService?.step2DetailsList?.isDACC === 'Y'">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">DACC</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="isDACC" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div> -->
           <!-- <div class="col-md-4 form-column">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Local CNote</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="IsLocalDocket" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
        <!-- <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Customer GST State.</label>
            <div class="col-md-7"><textarea class="form-control-textarea" placeholder="Special Instruction"
                formControlName="gststate" rows="2" cols="47"></textarea></div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Consignee Customer GST State.</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor required2" [items]="docketService.exemptServicesList" bindLabel="codeDesc" bindValue="codeId" placeholder="Exempt Services"
                formControlName="consigneegstdtate"></ng-select></div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Special Instruction</label>
            <div class="col-md-7"><textarea class="form-control-textarea" placeholder="Special Instruction"
                formControlName="specialInstruction" rows="2" cols="47"></textarea></div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Exempt Services</label>
            <div class="col-md-7"><ng-select class="noFoundTextColor" [items]="docketService.exemptServicesList" bindLabel="codeDesc" bindValue="codeId" placeholder="Exempt Services"
                formControlName="exemptServices"></ng-select></div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="docketService.basicDetailForm.get('serviceType')?.value === '2'">
        <div class="col-md-4 form-column ">
          <div class="form-group">
            <label class="control-label col-md-5">Select Vehicle</label>
            <div class="col-md-7 d-flex align-items-center gap-4">
              <label class="d-flex align-items-center gap-2 mb-0">
                <input type="radio" name="vehicleType" value="own" formControlName="vehicleType">
                Own
              </label>
              <label class="d-flex align-items-center gap-2 mb-0">
                <input type="radio" name="vehicleType" value="market" formControlName="vehicleType"
                  (change)="docketService.basicDetailForm.get('vehicleno')?.reset()">
                Market
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column " *ngIf="docketService.basicDetailForm.get('vehicleType')?.value !== 'own'">
          <div class="form-group"><label class="col-md-5">Vehicle No</label>
            <div class="col-md-7"><input type="text" class="form-control" placeholder="Vehicle No"
                formControlName="vehicleno" /></div>
          </div>
        </div>
        <div class="col-md-4 form-column " *ngIf="docketService.basicDetailForm.get('vehicleType')?.value === 'own'">
          <div class="form-group"><label class="col-md-5">Vehicle No</label>
            <div class="col-md-7">
              <ng-select class="noFoundTextColor" [searchable]="true" (search)="getVehicleNumbersList($event)"
                (change)="onChangeVehicleNo($event)" placeholder="Vehicle No" formControlName="vehicleno">
                <ng-option *ngFor="let item of vehicleNumbersList" [value]="item.vehno">
                  <strong>{{ item.vehno }}</strong> : {{ item.vehno }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Apply Reference DKT</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="isreferenceDKT" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>

        <!-- Show only if checkbox is checked -->
        <div class="col-md-4 form-column" *ngIf="docketService.basicDetailForm.get('isreferenceDKT')?.value">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Reference Docket</label>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Docket No." formControlName="referenceDocket" />
            </div>
          </div>
        </div>

        <div class="col-md-4 form-column" *ngIf="docketService.basicDetailForm.get('isreferenceDKT')?.value">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Is Docket Payment</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="isDocketPayment" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
        <!-- <div class="row">
        <div class="col-md-4 form-column">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Counter Pick Up</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="ISCounterPickUpPRS" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
           <div class="col-md-4 form-column">
          <div class="form-group">
            <label for="refDkt" class="col-md-5">Counter Delivery</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="ISCounterDelivery" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Sac Code</label>
            <div class="col-md-7"><input type="text" class="form-control" placeholder="Sac Code"
                formControlName="sacCode" readonly /></div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group"><label class="col-md-5">Sac Code Description</label>
            <div class="col-md-7"><input type="text" class="form-control" placeholder="Sac Code Description"
                formControlName="sacDescription" readonly /></div>
          </div>
        </div>
        <div class="col-md-4 form-column " *ngIf="docketService.basicDetailForm.get('exemptServices')?.value">
          <div class="form-group"><label class="col-md-5">Upload GST Declaraion</label>
            <div class="col-md-7 text-start"><input type="file" /></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group">
            <label for="appointment" class="col-md-5">Appointment Delivery</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="isAppointmentDelivery"><span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-column ">
          <div class="form-group ">
            <label for="CSD" class="col-md-5">CSD Delivery</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="iscsdDelivery"><span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
         <!-- <div class="col-md-4 form-column ">
          <div class="form-group ">
            <label for="CSD" class="col-md-5">Mall Delivery</label>
            <div class="col-md-7 text-start">
              <label class="yes-no">
                <input type="checkbox" formControlName="IsMAllDeliveryN"><span class="slider"></span>
              </label>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-4 form-column ">
          <div class="form-group">
            <label for="ODA" class="col-md-5">ODA Applicable</label>
            <div class="col-md-7 text-start">
              <div class="disabled">
                <label class="yes-no ">
                  <input type="checkbox" formControlName="isODAApplicable" class="cursor-pointer" readonly/>
                <span class="slider"></span>
              </label>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 form-column ">
          <div class="form-group">
            <label class="control-label col-md-5 text-primary bold">Is Local CNote?</label>
            <div class="col-md-2">
              <input type="checkbox" formControlName="isLocalNote">
            </div>
            <div class="col-md-4 text-danger bold" style="margin-top:5px;">(Same Origin-Destination)</div>
          </div>
        </div>
      </div>
      <div *ngIf="docketService.basicDetailForm.get('isAppointmentDelivery')?.value">
        <h3 class="pb-4 text-start appointment bold">Appointment Details</h3>
        <div class="p-3">
          <div class="row">
            <div class="col-md-3 form-column">
              <div class="form-group"><label class="col-md-5">Appointment Date</label>
                <div class="col-md-5">
                  <input type="date" class="form-control required2" placeholder="Appointment Date" formControlName="appointmentDT"
                    [max]="docketService.today" (click)="openDatePicker($event)" />
                </div>
              </div>
            </div>
            <div class="col-md-3 form-column">
              <div class="form-group"><label class="col-md-5"> Name Of Person</label>
                <div class="col-md-5"><input type="text" class="form-control col-md-5 required2" placeholder="Name Of Person"
                    formControlName="personName" /></div>
              </div>
            </div>
            <div class="col-md-3 form-column">
              <div class="form-group"><label class="col-md-5"> Contact Number</label>
                <div class="col-md-5"><input type="text" class="form-control col-md-5 required2" placeholder="Contact Number"
                    formControlName="contactNo" /></div>
              </div>
            </div>
            <div class="col-md-3 form-column">
              <div class="form-group"><label class="col-md-5"> Remarks</label>
                <div class="col-md-5"><input type="text" placeholder="Remarks required2" class="form-control col-md-5"
                    formControlName="remarks" /></div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3 form-column">
              <div class="form-group"><label class="col-md-5"> From Time</label>
                <div class="col-md-5"><input type="time" placeholder="From Time" class="form-control col-md-5"
                    formControlName="fromTime" /></div>
              </div>
            </div>
            <div class="col-md-3 form-column">
              <div class="form-group"><label class="col-md-5"> To Time</label>
                <div class="col-md-5"><input type="time" placeholder="To Time" class="form-control "
                    formControlName="toTime" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>