<div class="cnote-entry-container px-2">
    <!-- Header Bar -->
    <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
        <i class="fas fa-list me-2"></i>
        FM Query
    </div>
    <form [formGroup]="acknowledgefilterForm">
        <div class="form-grid p-4">
            <!-- Row 1 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">Fm Type :</div>
                <div class="col-md-3">
                    <ng-select class="required2" placeholder="Fm Type" [items]="DocTypelist" bindLabel="text" formControlName="fmType" bindValue="value"
                     [ngClass]="{ 'border-danger': acknowledgefilterForm.get('fmType')?.invalid && acknowledgefilterForm.get('fmType')?.touched }"></ng-select>
                    <div class="text-danger text-start" *ngIf="acknowledgefilterForm.get('fmType')?.invalid && acknowledgefilterForm.get('fmType')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">FM Forwarded To : </div>
                <div class="col-md-3">
                    <ng-select class="required2" placeholder="Enter FM Forwarded To" [items]="DocToList"  formControlName="locCode" bindLabel="text" bindValue="value"
                    [ngClass]="{ 'border-danger': acknowledgefilterForm.get('locCode')?.invalid && acknowledgefilterForm.get('locCode')?.touched }"></ng-select>
                    <div class="text-danger text-start" *ngIf="acknowledgefilterForm.get('locCode')?.invalid && acknowledgefilterForm.get('locCode')?.touched">
                        This field is required.
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">Select Date :</div>
                <div class="col-md-3">
                    <div class="input-group shadow-sm rounded" (click)="dvr.toggle()">
                        <span class="input-group-text bg-white border-end-0 p-2">
                            <i class="fas fa-calendar-alt text-dark text-secondary"></i>
                        </span>
                        <input type="text" placeholder="Daterangepicker" class="form-control border-start-1 text-center line-height uppercase-none " bsDaterangepicker
                            #dvr="bsDaterangepicker" [class.disabled-input]="true" formControlName="dateRange"
                            [bsConfig]="{ ranges: commonService.ranges, rangeInputFormat: 'MMMM D, YYYY', containerClass: 'theme-dark-blue', dateInputFormat: 'MMMM D, YYYY'}" />
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-2"></div>
                <div class="col-md-3 text-start">
                    <span class="fw-bold text-dark">OR</span>
                </div>
            </div>
            <!-- Row 4 -->
            <div class="row pb-3">
                <div class="col-md-2 col-form-label text-end">FM No.(s). :</div>
                <div class="col-md-3 d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="FM No.(s)" formControlName="fmNo">
                </div>
                <small class="ms-2 col-md-2 text-primary text-start col-form-label">[Seperated by Comma if multiple]</small>
            </div>
        </div>
    </form>
    <div class="bg-secondary-subtle p-4 gap-2">
        <div class="row pb-3">
            <div class="col-md-4 col-form-label text-center">
                <button class="btn btn-success" (click)="goToForwardList()"> <i class="fas fa-search"></i> Get List</button>
            </div>
        </div>
    </div>