<!-- <div class="m-3 border-radius rounded">
  <form [formGroup]="customerMasterService.KAMForm">
    <div class="table-responsive">
      <table class="w-100 data-table rounded-0">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>KAM Type</th>
            <th>Employee Name</th>
            <th>Employee ID</th>
            <th>Designation</th>
            <th>Mobile</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of generalMasterService.KMAList;let i=index">
            <td>{{ i + 1 }}</td>
            <td style="text-align: left;">
              {{ item.codeDesc }}
            </td>

            <td>
              <ng-select placeholder="Enter employee name" [items]="employeeList" bindLabel="employeeName"
                bindValue="employeeName" [notFoundText]="notFoundEmployeeValue" formControlName="EmployeeName"
                (search)="getEmployeeDetail($event)" (change)="onChangeEmployeeName($event, i)">
              </ng-select>
            </td>

            <td>
              <input type="text" class="form-control" formControlName="EmployeeID">
            </td>

            <td>
              <input type="text" class="form-control" formControlName="Designation">
            </td>

            <td>
              <input type="text" class="form-control" formControlName="Mobile">
            </td>

            <td>
              <input type="text" class="form-control" formControlName="Email">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>  -->




<form [formGroup]="customerMasterService.KAMForm">
  <div class="form-section">
    <div class="section-body">
      <div class="table-responsive">
        <table class="data-table">

          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>KAM Type</th>
              <th>Employee Name</th>
              <th>Employee ID</th>
              <th>Designation</th>
              <th>Mobile</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let item of generalMasterService.KMAList;let i=index">

              <td>{{ i + 1 }}</td>
              <td style="text-align: left;">
                {{ item.codeDesc }}
              </td>

              <td>
                <ng-select placeholder="Enter employee name" [items]="employeeList" bindLabel="employeeName"
                  bindValue="employeeName" [notFoundText]="notFoundEmployeeValue" formControlName="EmployeeName"
                  (search)="getEmployeeDetail($event)" (change)="onChangeEmployeeName($event, i)">
                </ng-select>
              </td>

              <td>
                <input type="text" class="form-control" formControlName="EmployeeID">
              </td>

              <td>
                <input type="text" class="form-control" formControlName="Designation">
              </td>

              <td>
                <input type="text" class="form-control" formControlName="Mobile">
              </td>

              <td>
                <input type="text" class="form-control" formControlName="Email">
              </td>

            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</form>