
<!-- <app-header></app-header> -->
<div class="p-2 mt-0">
    <basic-details></basic-details>
</div>
<div class="p-2">
    <consignor-detail></consignor-detail>
</div>
<div class="p-2">
    <invoice-details></invoice-details>
</div>
<div class="p-2 mb-4">
    <freight-details></freight-details>
</div>
<div class="form-actions fluid">
    <div class="col-md-offset-4 col-md-8 d-flex justify-content-center gap-2">
        <a class="btn btn-light default"> <i class="fas fa-sync"></i>&nbsp;Reset</a>
      <button type="submit" class="btn btn-success btn-sm px-3" (click)="onSubmit()">
  <i class="fas fa-check"></i>&nbsp;Submit
</button>
    </div>
</div>