<!-- <app-header></app-header> -->
<div class="alert alert-danger display-hide d-flex justify-content-between" *ngIf="docketService.submitErrorMsg">
    {{ docketService.submitErrorMsg }}
    <i class="fas fa-times cursor-pointer" (click)="docketService.submitErrorMsg =''"></i>
</div>
<div class="alert alert-success display-hide d-flex justify-content-between" *ngIf="docketService.successMsg">
    {{ docketService.successMsg }}
    <i class="fas fa-times cursor-pointer" (click)="docketService.successMsg =''"></i>
</div>
<div class="p-2 mt-0">
    <basic-details></basic-details>
</div>
<div class="p-2">
    <consignor-detail></consignor-detail>
</div>
<div class="p-2">
    <invoice-details></invoice-details>
</div>
<div class="p-2 mb-4">
    <freight-details></freight-details>
</div>
<div class="form-actions fluid">
    <div class="col-md-offset-4 col-md-8 d-flex justify-content-center gap-2">
        <a class="btn btn-light default"> <i class="fas fa-sync"></i>&nbsp;Reset</a>
    <button type="submit" class="btn btn-success btn-sm px-3" [disabled]="
        isSubmitting || !(
          docketService.basicDetailForm.valid &&
          docketService.consignorForm.valid &&
          docketService.invoiceform.valid &&
          docketService.freightForm.valid)" (click)="onSubmit()">
        <ng-container *ngIf="!isSubmitting">
            <i class="fas fa-check"></i>&nbsp;Submit
        </ng-container>
        <ng-container *ngIf="isSubmitting">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;Saving...
        </ng-container>
    </button>
    </div>
</div>