<!-- <app-header></app-header> -->
<div class="alert alert-danger display-hide d-flex justify-content-between" *ngIf="docketService.submitErrorMsg">
    <ul class="mb-0" style="list-style-type: disc; padding-left: 20px;">
    <li *ngFor="let err of docketService.submitErrorMsg">
      {{ err }}
    </li>
  </ul>
</div>
<div class="alert alert-success display-hide d-flex justify-content-between" *ngIf="docketService.successMsg">
    {{ docketService.successMsg }}
    <i class="fas fa-times cursor-pointer" (click)="docketService.successMsg =''"></i>
</div>

<div class="p-2 mt-0">
    <basic-details></basic-details>
</div>
<div class="p-2">
    <consignor-detail></consignor-detail>
</div>
<div class="p-2">
    <invoice-details></invoice-details>
</div>
<div class="p-2 mb-4">
    <freight-details></freight-details>
</div>
<div class="form-actions fluid">
    <div class="col-md-12 d-flex justify-content-center gap-2">
        <a class="btn btn-light default"> <i class="fas fa-sync"></i>&nbsp;Reset</a>
    <button type="submit" class="btn btn-success btn-sm px-3" 
          (click)="onSubmit()">
        <ng-container>
            <i class="fas fa-check"></i>&nbsp;Submit
        </ng-container>
        <!-- <ng-container *ngIf="isSubmitting">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;Saving...
        </ng-container> -->
    </button>
    </div>
</div>

<div *ngIf="isSubmitting" class="loading-overlay">
  <div class="spinner-container">
    <i class="fas fa-spinner fa-spin custom-spinner"></i>
    <div class="mt-3 custom-text">Submitting...</div>
  </div>
</div>
