<div class="container-fluid p-3">
    <div class="form-grid p-4">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-5 col-form-label text-end">Contract Date</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" placeholder="Contract Date">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-5 col-form-label text-end">Valid Until</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" placeholder="Valid Until">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-5 col-form-label text-end">Effective From Date</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" placeholder="Effective From Date">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-5 col-form-label text-end">Contract Signing Location</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" placeholder="Contract Signing Location">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-5 col-form-label text-end">Customer Representative</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" placeholder="Customer Representative">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-5 col-form-label text-end">Company Employee Name</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" placeholder="Company Employee Name">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="mt-3">
            <div class="background-color text-white rounded-top px-3 py-3 text-start cursor-pointer d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                <div>
                    <i class="fas fa-building me-2"></i>
                    Company Information
                </div>
                <i class="fas fa-chevron-down collapse-icon" id="companyIcon"></i>
            </div>
            <div class="collapse show" id="collapseExample" data-bs-parent="#companyInfo">
                <div class="rounded-bottom border-radius">
                    <div class="form-grid p-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Customer Representative</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Customer Representative">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Designation</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Designation">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">EmailID</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="EmailID">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Contact Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Customer Witness</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Customer Witness">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Billing Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Billing Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Party Category</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Party Category">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Accounts Person of Customer</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text"
                                            placeholder="Accounts Person of Customer">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Contact Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">E-MailID</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="E-MailID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">E-MailID</label>
                                    <div class="col-md-7 text-start">
                                        <input type="checkbox" class=" form-check-input me-4 checkbox-lg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Remarks</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Remarks">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="background-color text-white rounded-top px-3 py-3 text-start cursor-pointer d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                href="#collapseCustomer" aria-expanded="false" aria-controls="collapseCustomer">
                <div>
                    <i class="fas fa-user me-2"></i>
                    Customer Information
                </div>
                <i class="fas fa-chevron-down collapse-icon" id="customerIcon"></i>
            </div>
            <div class="collapse show" id="collapseCustomer" data-bs-parent="#customerInfo">
                <div class="rounded-bottom border-radius">
                    <div class="form-grid p-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Company Employee Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Company Employee Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Designation</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Designation">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">E-MailID</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="E-MailID">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Contact Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Company Witness</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Company Witness">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">City - PinCode</label>
                                    <div class="col-md-7">
                                        <div class="d-flex gap-2">
                                            <input class="form-control" type="text" placeholder="City">
                                            <input class="form-control" type="text" placeholder="PinCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">

                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Contract Category</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Contract Category">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">C.S.E. Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="C.S.E. Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Contact Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">E-MailID</label>
                                    <div class="col-md-7 text-start">
                                        <input class="form-control" type="text" placeholder="E-MailID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Accounts Representative</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Accounts Representative">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5 col-form-label text-end">Contract Mode</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" placeholder="Contract Mode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Back & Next Buttons -->
        <div class="mt-4 p-3">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary px-4 py-2">
                    <i class="fas fa-arrow-left me-2"></i>
                     Back To Contract
                </button>
                <button class="btn btn-success px-4 py-2">
                    <i class="fas fa-save me-2"></i>
                     Save & Continue
                    <i class="fas fa-arrow-right ms-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>