/* Input + button group */
.custom-input-group {
  .form-control {
    border-radius: 0 !important;
  }

  .btn-add {
    background-color: #003366; /* Dark blue (section header color) */

    &:hover {
      background-color: #00509e; /* Lighter blue on hover */
    }
  }
}

.disabled {
    pointer-events: none; 
    opacity: 0.8; 
  }
  
