/* Input + button group */
.custom-input-group {
  .form-control {
    border-radius: 0 !important;
  }

  .btn-add {
    background-color: #003366; /* Dark blue (section header color) */

    &:hover {
      background-color: #00509e; /* Lighter blue on hover */
    }
  }
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
 
.table {
  min-width: 900px; /* <-- Table ની fixed width */
}
.table th,
.table td {
  white-space: nowrap;  /* Column wrap નહીં થાય */
}