<div class="cnote-entry-container px-1 ">
  <form [formGroup]="docketService.invoiceform">
    <div class="row">
      <div class="col-md-6 col-sm-12 ">
        <div class="cnote-entry-container">
          <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
            <i class="fa fa-edit me-2"></i>
            CNote Entry - Invoice Details
          </div>
          <div class="portlet-body m-3">
            <div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label col-md-5">No Of Rows </label>
                    <div class="col-md-7">
                      <div class="input-group custom-input-group">
                        <input type="number" class="form-control rounded-0 rounded-start"
                          [(ngModel)]="docketService.noOfRows" [ngModelOptions]="{ standalone: true }" min="1"
                          placeholder="Enter rows" (keypress)="docketService.allowNumericDecimal($event)" />
                        <button type="button" class="btn btn-add text-light rounded-0 rounded-end"
                          (click)="docketService.addRows()" title="Add Row">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label col-md-5">No Of Rows </label>
                    <div class="col-md-7">
                      <div class="input-group custom-input-group">
                        <input type="number" class="form-control rounded-0 rounded-start"
                          [(ngModel)]="docketService.noOfRows" [ngModelOptions]="{ standalone: true }" min="1"
                          placeholder="Enter rows" (keypress)="docketService.allowNumericDecimal($event)" />
                        <button type="button" class="btn btn-add text-light rounded-0 rounded-end"
                          (click)="docketService.addBoxDetailRows()" title="Add Row">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet-body mb-3 table-wrapper">
                    <table class="table table-bordered table-striped table-condensed flip-content mb-0 table-width">
                      <thead class="flip-content">
                        <tr>
                          <th class="center">
                            Sr.&nbsp;No.
                          </th>
                          <th class="center ClsEBill">
                            E-Way Bill No
                          </th>
                          <th class="center ClsEBill">
                            E-Way Bill Expiry Date
                          </th>
                          <th class="center ClsEBill">
                            Invoice Date
                          </th>
                          <th class="center">
                            Invoice No
                          </th>
                          <th class="center">
                            Invoice Value
                          </th>
                          <th class="center">X</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="invoiceRows">
                        <tr class="editorRow" *ngFor="let row of docketService.invoiceRows.controls; let i = index"
                          [formGroupName]="i">
                          <td> {{ row.get('srNo')?.value }}</td>
                          <td class="center">
                            <input class="form-control" maxlength="12" placeholder="E-Way Bill No."
                              formControlName="ewayBillNo" type="text" (input)="getEwayBillData($event,i,true)"
                              oninput="this.value = this.value.replace(/[^0-9]/g,'');"
                              [ngClass]="{ 'border-danger': (row.get('ewayBillNo')?.invalid && row.get('ewayBillNo')?.touched) || (isEwayRequired(row) && row.get('ewayBillNo')?.touched && !row.get('ewayBillNo')?.value),'required2': isEwayRequired(row)}">
                            <div
                              *ngIf="isEwayRequired(row) && row.get('ewayBillNo')?.touched && !row.get('ewayBillNo')?.value"
                              class="text-danger text-start">
                              This field is required.
                            </div>
                            <div *ngIf="row.get('ewayBillNo')?.hasError('maxlength') && row.get('ewayBillNo')?.touched"
                              class="text-danger text-start">
                              E-Way Bill must be 12 digits.
                            </div>
                          </td>
                          <td>
                            <div class="input-group">
                              <input type="text" class="form-control uppercase-none" #dp="bsDatepicker" bsDatepicker
                                [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD MMM YYYY' }"
                                [attr.tabindex]="-1" [readonly]="row.get('ewayBillNo')?.value?.length > 0"
                                placeholder="dd/MMM/yyyy" formControlName="ewayBillExpiry" [ngClass]="{ 'border-danger': row.get('ewayBillExpiry')?.invalid && row.get('ewayBillExpiry')?.touched, 
                                                     'required2': isEwayRequired(row)}" [class.disabled-input]="true">
                              <span class="input-group-text cursor-pointer" (click)="dp.toggle()"
                                [class.disabled-input]="true">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </div>
                            <div *ngIf="row.get('ewayBillExpiry')?.errors && row.get('ewayBillExpiry')?.touched"
                              class="text-danger text-start">
                              <span *ngIf="row.get('ewayBillExpiry')?.hasError('required')">This field is
                                required.</span>
                              <span *ngIf="row.get('ewayBillExpiry')?.hasError('pastDate')">E-Way Bill expired or Part B
                                not prepared.</span>
                            </div>
                          </td>

                          <td class="center">
                            <div class="input-group">
                              <input type="text" class="form-control uppercase-none" #dp2="bsDatepicker" bsDatepicker
                                [class.disabled-input]="row.get('ewayBillNo')?.value?.length > 0"
                                [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD MMM YYYY' }"
                                [attr.tabindex]="-1" placeholder="dd/MMM/yyyy" formControlName="ewayinvoiceDate"
                                [ngClass]="{'border-danger': row.get('ewayinvoiceDate')?.invalid && row.get('ewayinvoiceDate')?.touched, 
                                              'required2': isEwayRequired(row)}" [class.disabled-input]="true">
                              <span class="input-group-text cursor-pointer" (click)="dp2.toggle()"
                                [class.disabled-input]="row.get('ewayBillNo')?.value?.length > 0">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </div>
                            <div *ngIf="row.get('ewayinvoiceDate')?.errors  && row.get('ewayinvoiceDate')?.touched"
                              class="text-danger text-start">
                              This field is required.
                            </div>
                          </td>
                          <td class="center">
                            <input class="form-control required required2" placeholder="Invoice No." type="text"
                              [readonly]="row.get('ewayBillNo')?.value?.length > 0" formControlName="invoiceNo" required
                              (blur)="checkDuplicateInvoices(i,row)"
                              [ngClass]="{ 'border-danger': row.get('invoiceNo')?.invalid && row.get('invoiceNo')?.touched}">
                            <div *ngIf="row.get('invoiceNo')?.invalid && row.get('invoiceNo')?.touched"
                              class="text-danger text-start">
                              This field is required.
                            </div>
                          </td>
                          <td class="center ">
                            <input class="form-control required2 text-end" min="0"
                              (keypress)="docketService.allowNumericDecimal($event)" placeholder="Invoice value"
                              type="text" value="0" formControlName="declaredvalue" required
                              (focus)="clearZero(row, 'declaredvalue')"
                              [readonly]="row.get('ewayBillNo')?.value?.length > 0" (input)="calculateSummary(i)"
                              (change)="docketService.freightAndOtherChar();handleDeclaredValueChange(row)"
                              [ngClass]="{ 'border-danger': row.get('declaredvalue')?.invalid && row.get('declaredvalue')?.touched}"
                              (blur)="restoreIfEmpty(row, 'declaredvalue')">
                            <div *ngIf="row.get('declaredvalue')?.invalid && row.get('declaredvalue')?.touched"
                              class="text-danger text-start">
                              This field is required.
                            </div>
                          </td>
                          <td class="center">
                            <div *ngIf="i !== 0" (click)="removeRow(i)"
                              style="color: Maroon; font-size: 14px; font-weight: bolder; text-decoration: none;"
                              class="cursor-pointer">X</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="cnote-entry-container">
          <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
            <i class="fa fa-edit me-2"></i>
            CNote Entry - BOX Detail
          </div>
          <div class="portlet-body m-3">
            <div class="row">
              <div class="col-md-4"
                *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                <div class="form-group">
                  <label class="control-label col-md-5">CFT Ratio </label>
                  <div class="col-md-7">
                    <input class="form-control" placeholder="CNote No" type="text" formControlName="cft_Ratio" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4"
                *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                <div class="form-group">
                  <label class="control-label col-md-5">CFT Total </label>
                  <div class="col-md-7">
                    <input class="required2 form-control required" placeholder="CFT Total" type="text"
                      formControlName="cftTotal" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label col-md-5">No Of Rows </label>
                  <div class="col-md-7">
                    <div class="input-group custom-input-group">
                      <input type="number" class="form-control rounded-0 rounded-start"
                        [(ngModel)]="docketService.noboxDetailRows" [ngModelOptions]="{ standalone: true }" min="1"
                        placeholder="Enter rows" (keypress)="docketService.allowNumericDecimal($event)" />
                      <button type="button" class="btn btn-add text-light rounded-0 rounded-end"
                        (click)="docketService.addBoxDetailRows()" title="Add Row">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="portlet-body mb-3 table-wrapper">
                  <table class="table table-bordered table-striped table-condensed flip-content mb-0 table-responsive">
                    <thead class="flip-content">
                      <tr>
                        <th class="center">
                          Sr.&nbsp;No.
                        </th>
                        <th class="center "
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          L ({{ docketService.contractservicecharge?.[0]?.cft_Measure?.toLowerCase() === 'inches' ?
                          'IN': docketService.contractservicecharge?.[0]?.cft_Measure?.toLowerCase() === 'cm'
                          ? 'CM' : docketService.contractservicecharge?.[0]?.cft_Measure }})
                        </th>
                        <th class="center "
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          B ({{ docketService.contractservicecharge?.[0]?.cft_Measure?.toLowerCase() === 'inches' ?
                          'IN': docketService.contractservicecharge?.[0]?.cft_Measure?.toLowerCase() === 'cm'
                          ? 'CM' : docketService.contractservicecharge?.[0]?.cft_Measure }})
                        </th>
                        <th class="center"
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          H ({{ docketService.contractservicecharge?.[0]?.cft_Measure?.toLowerCase() === 'inches' ?
                          'IN': docketService.contractservicecharge?.[0]?.cft_Measure?.toLowerCase() === 'cm'
                          ? 'CM' : docketService.contractservicecharge?.[0]?.cft_Measure }})
                        </th>
                        <th class="center">
                          No of Pkgs.
                        </th>
                        <th class="center"
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          Cubic Weight
                        </th>
                        <th class="center">
                          Actual Weight
                        </th>
                        <th class="center">X</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="boxDetailRows">
                      <tr *ngFor="let row of docketService.boxDetailRows.controls; let i = index" [formGroupName]="i">
                        <td> {{ row.get('srNo')?.value }}</td>
                        <td class="center"
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          <input class="form-control required2 text-end" min="1" type="text" appDecimalLimit
                            [unit]="docketService.contractservicecharge && docketService.contractservicecharge.length > 0 ? docketService.contractservicecharge[0]?.cft_Measure : ''"
                            formControlName="length" (focus)="clearZero(row, 'length')" placeholder="Enter length"
                            (keypress)="docketService.allowNumericDecimal($event)"
                            (change)="docketService.freightAndOtherChar();docketService.GetDKTGSTForGTA();"
                            (input)="calculateSummary(i)"
                            [ngClass]="{ 'border-danger': row.get('length')?.invalid && row.get('length')?.touched }">
                          <div class="text-danger mt-1 small"
                            *ngIf="row.get('length')?.touched && row.get('length')?.errors">
                            <span *ngIf="row.get('length')?.hasError('required')">
                              Please enter a value.
                            </span>
                            <span *ngIf="row.get('length')?.hasError('min')">
                              Please enter a value greater than or equal to 1.
                            </span>
                            <span *ngIf="row.get('length')?.hasError('max')">
                              Please enter a value less than <br> or equal to 199.
                            </span>
                          </div>
                        </td>
                        <td class="center"
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          <input class="form-control required2 text-end" min="1" type="text" appDecimalLimit
                            [unit]="docketService.contractservicecharge && docketService.contractservicecharge.length > 0 ? docketService.contractservicecharge[0]?.cft_Measure : ''"
                            formControlName="breadth" (focus)="clearZero(row, 'breadth')" placeholder="Enter breadth"
                            (keypress)="docketService.allowNumericDecimal($event)"
                            (change)="docketService.freightAndOtherChar();docketService.GetDKTGSTForGTA()"
                            (input)="calculateSummary(i)"
                            [ngClass]="{ 'border-danger': row.get('breadth')?.invalid && row.get('breadth')?.touched }">
                          <div class="text-danger mt-1 small"
                            *ngIf="row.get('breadth')?.touched && row.get('breadth')?.errors">
                            <span *ngIf="row.get('breadth')?.hasError('required')">
                              Please enter a value.
                            </span>
                            <span *ngIf="row.get('breadth')?.hasError('min')">
                              Please enter a value greater than or equal to 1.
                            </span>
                            <span *ngIf="row.get('breadth')?.hasError('max')">
                              Please enter a value less than <br> or equal to 199.
                            </span>
                          </div>
                        </td>
                        <td class="center"
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          <input class="form-control required2 text-end" min="1" type="text" appDecimalLimit
                            [unit]="docketService.contractservicecharge && docketService.contractservicecharge.length > 0 ? docketService.contractservicecharge[0]?.cft_Measure : ''"
                            formControlName="height" (focus)="clearZero(row, 'height')" placeholder="Enter height"
                            (keypress)="docketService.allowNumericDecimal($event)"
                            (change)="docketService.freightAndOtherChar();docketService.GetDKTGSTForGTA()"
                            (input)="calculateSummary(i)"
                            [ngClass]="{ 'border-danger': row.get('height')?.invalid && row.get('height')?.touched }">
                          <div class="text-danger mt-1 small"
                            *ngIf="row.get('height')?.touched && row.get('height')?.errors">
                            <span *ngIf="row.get('height')?.hasError('required')">
                              Please enter a value.
                            </span>
                            <span *ngIf="row.get('height')?.hasError('max')">
                              Please enter a value less than <br> or equal to 199.
                            </span>
                            <span *ngIf="row.get('height')?.hasError('min')">
                              Please enter a value greater than or equal to 1.
                            </span>
                          </div>
                        </td>
                        <td class="center ">
                          <input class="form-control required2 text-end" placeholder="Enter No of Pkgs."
                            (focus)="clearZero(row, 'noOfPkgs')" (keypress)="docketService.allowNumericDecimal($event)"
                            type="text" formControlName="noOfPkgs"
                            [ngClass]="{ 'border-danger': row.get('noOfPkgs')?.invalid && row.get('noOfPkgs')?.touched }"
                            (change)="calculateSummary(i);docketService.freightAndOtherChar();docketService.GetDKTGSTForGTA();">
                          <div *ngIf="row.get('noOfPkgs')?.touched && row.get('noOfPkgs')?.errors"
                            class="text-danger text-start">
                            <div *ngIf="row.get('noOfPkgs')?.errors?.['required']">
                              Please enter a value.
                            </div>
                          </div>
                        </td>
                        <td class="center"
                          *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                          <input class="form-control required2  text-end" min="0" type="text" value="0"
                            (blur)="restoreIfEmpty(row, 'cubicweight')" readonly formControlName="cubicweight">
                        </td>
                        <td class="center">
                          <input class="form-control required2 text-end" placeholder="Actual Weight" type="text"
                            formControlName="actualWeight" (keypress)="docketService.allowNumericDecimal($event)"
                            (blur)="restoreIfEmpty(row, 'actualWeight');"
                            (change)="calculateSummary(i);docketService.freightAndOtherChar();docketService.GetDKTGSTForGTA();"
                            (focus)="clearZero(row, 'actualWeight')"
                            [ngClass]="{ 'border-danger': row.get('actualWeight')?.invalid && row.get('actualWeight')?.touched }">

                          <div *ngIf="row.get('actualWeight')?.touched && row.get('actualWeight')?.errors"
                            class="text-danger text-start">
                            <div *ngIf="row.get('actualWeight')?.errors?.['required']">
                              Actual weight is required.
                            </div>
                            <div *ngIf="row.get('actualWeight')?.errors?.['min']">
                              Please enter a value greater than or equal to 1.
                            </div>
                          </div>
                        </td>
                        <td class="center">
                          <div *ngIf="i !== 0" (click)="removeboxDetailRow(i)"
                            style="color: Maroon; font-size: 14px; font-weight: bolder; text-decoration: none;"
                            class="cursor-pointer">X</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-3">
        <div class="row align-items-center">
          <label class="control-label col-5"><b>Total Declared Amt.</b></label>
          <div class="col-7">
            <input formControlName="totalDeclaredValue" required class="form-control required2 required text-end"
              placeholder="Total Declared Value" type="number" readonly
              [ngClass]="{ 'border-danger': docketService.invoiceform.get('totalDeclaredValue')?.invalid && docketService.invoiceform.get('totalDeclaredValue')?.touched}">
            <div
              *ngIf="docketService.invoiceform.get('totalDeclaredValue')?.invalid && docketService.invoiceform.get('totalDeclaredValue')?.touched"
              class="text-danger text-start ">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row align-items-center">
          <label class="control-label col-5"><b>Total Pkgs.</b></label>
          <div class="col-7">
            <input formControlName="totalNoOfPkgs" class="form-control required2 required text-end" type="number"
              readonly placeholder="Total Pkgs." required
              [ngClass]="{ 'border-danger': docketService.invoiceform.get('totalNoOfPkgs')?.invalid && docketService.invoiceform.get('totalNoOfPkgs')?.touched}">
            <div
              *ngIf="docketService.invoiceform.get('totalNoOfPkgs')?.invalid && docketService.invoiceform.get('totalNoOfPkgs')?.touched"
              class="text-danger text-start">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row align-items-center">
          <label class="control-label col-5"><b>CFT Total</b></label>
          <div class="col-7">
            <input formControlName="totalCubicWeight" class="form-control required2 required text-end" type="number"
              readonly>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row align-items-center">
          <label class="control-label col-5"><b>Total Actual Wt.</b></label>
          <div class="col-7">
            <input formControlName="totalActualWeight" class="form-control required2 required text-end" type="number"
              readonly required
              [ngClass]="{ 'border-danger': docketService.invoiceform.get('totalActualWeight')?.invalid && docketService.invoiceform.get('totalActualWeight')?.touched}">
            <div
              *ngIf="docketService.invoiceform.get('totalActualWeight')?.invalid && docketService.invoiceform.get('totalActualWeight')?.touched"
              class="text-danger text-start">
              Please enter a value greater than or equal to 1.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-3"></div>
      <div class="col-3">
        <div class="row align-items-center">
          <label class="control-label col-5"><b>Total Charge Pkg.</b></label>
          <div class="col-7">
            <input formControlName="chargeWeightPerPkg" class="form-control required2 required text-end" type="number"
              readonly required
              [ngClass]="{ 'border-danger': docketService.invoiceform.get('chargeWeightPerPkg')?.invalid && docketService.invoiceform.get('chargeWeightPerPkg')?.touched}">
            <div
              *ngIf="docketService.invoiceform.get('chargeWeightPerPkg')?.invalid && docketService.invoiceform.get('chargeWeightPerPkg')?.touched"
              class="text-danger text-start col-md-7">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row align-items-center">
          <label class="control-label col-5"><b>Total Charge Wt.</b></label>
          <div class="col-7">
            <input formControlName="finalActualWeight" class="form-control required2 required text-end" type="number"
              (change)="docketService.actualWeightvalidation()" readOnly
              (blur)="restoreIfEmpty(docketService.invoiceform, 'finalActualWeight');docketService.freightAndOtherChar();docketService.getProRataCharge()">
            <div *ngIf="docketService.weightErrorMsg" class="text-danger mt-1 col-md-7">
              {{ docketService.weightErrorMsg }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>