<div class="cnote-entry-container px-1">
  <div class="text-white px-3 py-3 d-flex align-items-center fw-semibold background-color">
    <i class="fa fa-edit me-2"></i>
    CNote Entry - Invoice Details
  </div>
  <div class="form-grid p-4">
    <form [formGroup]="docketService.invoiceform">
      <div class="row"
        *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">CFT Ratio </label>
            <div class="col-md-7">
              <input class="form-control" placeholder="CNote No" type="text" formControlName="cft_Ratio" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">CFT Total </label>
            <div class="col-md-7">
              <input class="required2 form-control required" placeholder="CFT Total" type="text"
                formControlName="cftTotal" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label col-md-5">No Of Rows </label>
            <div class="col-md-7">
              <input type="number" class="input-small required2 form-control required"
                [(ngModel)]="docketService.noOfRows" [ngModelOptions]="{standalone: true}" min="1"
                placeholder="Private Mark" (keypress)="docketService.allowNumericDecimal($event)">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <a class="btn btn-primary right" (click)="docketService.addRows()">
            <i class="fas fa-plus"></i> Add New Row
          </a>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="portlet-body table-scrollable">
            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
              <thead class="flip-content">
                <tr>
                  <th class="center">
                    Sr. No.
                  </th>
                  <th class="cente">
                    E-Way Bill No
                  </th>
                  <th class="cente">
                    E-Way Bill Expiry Date
                  </th>

                  <th class="cente">
                    E-Way Bill Invoice Date
                  </th>
                  <th class="center">
                    Invoice No
                  </th>
                  <th class="center">
                    Invoice Date
                  </th>
                  <th class="center clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    Length (Inches)
                  </th>
                  <th class="center clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    Breadth (Inches)
                  </th>
                  <th class="center clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    Height (Inches)
                  </th>
                  <th class="center">
                    Declared Value
                  </th>

                  <th class="center">
                    No of Pkgs.
                  </th>

                  <th class="center clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    Cubic Weight
                  </th>
                  <th class="center">
                    Actual Weight
                  </th>

                  <th class="center">X</th>
                </tr>
              </thead>
              <tbody formArrayName="invoiceRows">
                <tr class="editorRow" *ngFor="let row of docketService.invoiceRows.controls; let i = index"
                  [formGroupName]="i">
                  <input class="iHidden" type="hidden" value="1">
                  <input type="hidden" value="1">
                  <td class="center">
                    <input class="form-control rounded-0" formControlName="srNo" type="text">
                  </td>
                  <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
                    <!-- <input class="form-control rounded-0 " maxlength="12" placeholder="E-Way Bill No"
                      formControlName="ewayBillNo" type="text"> -->
                      <input class="form-control rounded-0" maxlength="12" placeholder="E-Way Bill No"
                            formControlName="ewayBillNo" type="text"
                            [ngClass]="{ 'border-danger': row.get('ewayBillNo')?.invalid && row.get('ewayBillNo')?.touched }">

                          <div *ngIf="row.get('ewayBillNo')?.errors  && row.get('ewayBillNo')?.touched" class="text-danger text-start">
                          This field is required.
                          </div>
                  </td>
                  <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
                    <input class="form-control rounded-0" placeholder="dd-MM-yyyy" type="text"
                      formControlName="ewayBillExpiry" readonly>
                  </td>
                  <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
                    <input class="form-control rounded-0" placeholder="dd-MM-yyyy" type="date"
                      formControlName="ewayinvoiceDate" (click)="openDatePicker($event)">
                  </td>
                  <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
                    <input class="form-control rounded-0 required required2" placeholder="Invoice No" type="text"
                      formControlName="invoiceNo" required  
                      [ngClass]="{ 'border-danger': row.get('invoiceNo')?.invalid && row.get('invoiceNo')?.touched}">
                      <div *ngIf="row.get('invoiceNo')?.invalid && row.get('invoiceNo')?.touched"
                        class="text-danger text-start">
                        This field is required.
                      </div>
                  </td>
                  <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
                    <input class="form-control rounded-0 required2" placeholder="dd/MMM/yyyy" type="date"
                      [max]="docketService.today" (click)="openDatePicker($event)" formControlName="invoicedate">
                  </td>
                  <td class="center  clsVolumetric" style="padding-bottom: 2px; padding-top: 2px"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    <input class="form-control rounded-0 clsAmount required2 text-end" min="1" type="number" value="0"
                      formControlName="length"  (focus)="clearZero(row, 'length')" 
                      (change)="docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();docketService.GetDKTGSTForGTA();"
                      (input)="calculateSummary(i);getCFTCalculation(i)" (blur)="restoreIfEmpty(row, 'length')">
                  </td>
                  <td class="center  clsVolumetric" style="padding-bottom: 2px; padding-top: 2px; "
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    <input class="form-control rounded-0 clsAmount required2 text-end" min="1" type="number" value="0"
                      formControlName="breadth" (focus)="clearZero(row, 'breadth')" 
                      (change)="docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();docketService.GetDKTGSTForGTA()"
                      (input)="calculateSummary(i);getCFTCalculation(i)" (blur)="restoreIfEmpty(row, 'breadth')" >
                  </td>
                  <td class="center  clsVolumetric" style="padding-bottom: 2px; padding-top: 2px; "
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    <input class="form-control rounded-0 clsAmount required2 text-end" min="1" type="number" value="0"
                      formControlName="height" (focus)="clearZero(row, 'height')" 
                      (change)="docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();docketService.GetDKTGSTForGTA()"
                      (input)="calculateSummary(i);getCFTCalculation(i)" (blur)="restoreIfEmpty(row, 'height')" >
                  </td>
                  <td class="center " style="padding-bottom: 2px; padding-top: 2px;">
                    <input class="form-control rounded-0 clsAmount required2 text-end" min="0"
                      placeholder="Invoice value" type="number" value="0" formControlName="declaredvalue" required (focus)="clearZero(row, 'declaredvalue')" 
                      (input)="calculateSummary(i);getCFTCalculation(i)" (change)="docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation()"
                      [ngClass]="{ 'border-danger': row.get('declaredvalue')?.invalid && row.get('declaredvalue')?.touched}" (blur)="restoreIfEmpty(row, 'declaredvalue')" >
                      <div *ngIf="row.get('declaredvalue')?.invalid && row.get('declaredvalue')?.touched"
                        class="text-danger text-start">
                        This field is required.
                      </div>
                  </td>
                  <td class="center " style="padding-bottom: 2px; padding-top: 2px;">
                    <input class="form-control rounded-0 clsAmount required2 text-end" placeholder="No of Pkgs." (focus)="clearZero(row, 'noOfPkgs')" 
                      (blur)="restoreIfEmpty(row, 'noOfPkgs');docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();this.docketService.getFovContractDetails();"
                      type="number" formControlName="noOfPkgs" (input)="calculateSummary(i);getCFTCalculation(i)"
                      (change)="docketService.GetDKTGSTForGTA();">
                  </td>
                  <td class="center  clsVolumetric" style="padding-bottom: 2px; padding-top: 2px;"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    <input class="form-control rounded-0 clsAmount required2  text-end" min="0" type="number" value="0"  (blur)="restoreIfEmpty(row, 'cubicweight')" (focus)="clearZero(row, 'cubicweight')" 
                      readonly formControlName="cubicweight">
                  </td>
                  <td class="center " style="padding-bottom: 2px; padding-top: 2px;">
                  <input class="form-control rounded-0 clsAmount required2 text-end" placeholder="Actual Weight" type="number"
                    formControlName="actualWeight" (input)="calculateSummary(i);getCFTCalculation(i)"
                    (blur)="restoreIfEmpty(row, 'actualWeight');docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();this.docketService.getFovContractDetails();"
                    (change)="docketService.GetDKTGSTForGTA();" (focus)="clearZero(row, 'actualWeight')" 
                    [ngClass]="{ 'border-danger': row.get('actualWeight')?.invalid && row.get('actualWeight')?.touched }">
                  
                  <div *ngIf="row.get('actualWeight')?.touched && row.get('actualWeight')?.errors" class="text-danger text-start">
                    <div *ngIf="row.get('actualWeight')?.errors?.['required']">
                      Actual weight is required.
                    </div>
                    <div *ngIf="row.get('actualWeight')?.errors?.['min']">
                      Please enter a value greater than or equal to 1.
                    </div>
                  </div>
                  </td>
                  <td class="center">
                    <div *ngIf="i !== 0" (click)="removeRow(i)"
                      style="color: Maroon; font-size: 14px; font-weight: bolder; text-decoration: none;"
                      class="cursor-pointer">X</div>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr class="editorRow">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="3" class="clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                  </td>

                  <td class="center">
                    <input formControlName="totalDeclaredValue" required
                      class="form-control rounded-0 clsAmount required2 required text-end" type="number" readonly 
                      [ngClass]="{ 'border-danger': docketService.invoiceform.get('totalDeclaredValue')?.invalid && docketService.invoiceform.get('totalDeclaredValue')?.touched}">
                      <div *ngIf="docketService.invoiceform.get('totalDeclaredValue')?.invalid && docketService.invoiceform.get('totalDeclaredValue')?.touched"
                        class="text-danger text-start">
                        This field is required.
                      </div>
                  </td>

                  <td class="center">
                    <input formControlName="totalNoOfPkgs"
                      class="form-control rounded-0 clsAmount required2 required text-end" type="number" readonly required
                      [ngClass]="{ 'border-danger': docketService.invoiceform.get('totalNoOfPkgs')?.invalid && docketService.invoiceform.get('totalNoOfPkgs')?.touched}">
                      <div *ngIf="docketService.invoiceform.get('totalNoOfPkgs')?.invalid && docketService.invoiceform.get('totalNoOfPkgs')?.touched"
                        class="text-danger text-start">
                        This field is required.
                      </div>
                  </td>

                  <td class="center"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                    <input formControlName="totalCubicWeight"
                      class="form-control rounded-0 clsAmount required2 required text-end" type="number" readonly>
                  </td>

                  <td class="center">
                    <input formControlName="totalActualWeight"
                      class="form-control rounded-0 clsAmount required2 required text-end" type="number" readonly required
                      [ngClass]="{ 'border-danger': docketService.invoiceform.get('totalActualWeight')?.invalid && docketService.invoiceform.get('totalActualWeight')?.touched}">
                      <div *ngIf="docketService.invoiceform.get('totalActualWeight')?.invalid && docketService.invoiceform.get('totalActualWeight')?.touched"
                        class="text-danger text-start">
                         Please enter a value greater than or equal to 1.
                      </div>
                  </td>
                </tr>

                <tr class="editorRow">
                  <td colspan="3"></td>
                  <td colspan="3"></td>
                  <td colspan="3" class="clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                  </td>

                  <td class="center"><b>Charge Weight/Pkgs.</b></td>

                  <td class="center">
                    <div class="col-md-11">
                      <input formControlName="chargeWeightPerPkg"
                        class="form-control rounded-0 clsAmount required2 required text-end" type="number" readonly required
                        [ngClass]="{ 'border-danger': docketService.invoiceform.get('chargeWeightPerPkg')?.invalid && docketService.invoiceform.get('chargeWeightPerPkg')?.touched}">
                      <div *ngIf="docketService.invoiceform.get('chargeWeightPerPkg')?.invalid && docketService.invoiceform.get('chargeWeightPerPkg')?.touched"
                        class="text-danger text-start">
                        This field is required.
                      </div>
                    </div>
                  </td>

                  <td class="clsVolumetric"
                    *ngIf="this.docketService?.step2DetailsList?.isVolumentric === 'Y' && docketService.basicDetailForm.get('serviceType')?.value ==='1'">
                  </td>

                  <td class="center">
                    <div class="col-md-11">
                      <input formControlName="finalActualWeight"
                        class="form-control rounded-0 clsAmount required2 required text-end" type="number" (focus)="clearZero(docketService.invoiceform, 'finalActualWeight')" (change)="docketService.actualWeightvalidation()"
                        (blur)="restoreIfEmpty(docketService.invoiceform, 'finalActualWeight');docketService.GetFreightContractDetails();docketService.getOtherChargesDetail();docketService.getGSTCalculation();docketService.getProRataCharge();this.docketService.getFovContractDetails();">
                      <div *ngIf="docketService.weightErrorMsg" class="text-danger mt-1">
                        {{ docketService.weightErrorMsg }}
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>