<ng-template #templatePopup>
  <div class="modal-header background-color text-white d-flex justify-content-between">
    <h5 class="modal-title">Add Delivery Agent</h5>
    <button type="button" class="btn text-white" (click)="closePopup()"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="dAForm">
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Delivery Agent Code:</b></label>
            <div class="col-7">
              <input class="form-control" placeholder="Delivery Agent Code" type="text" formControlName="dA_Code">
              <!-- <div class="text-danger text-start ">
                          This field is required.
                        </div> -->
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Delivery Agent Name:</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="TDelivery Agent Name" formControlName="deliveryAgentName">
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Delivery Agent Mobile No.</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="Delivery Agent Mobile No." formControlName="deliveryAgentMobile">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>FTL Type:</b></label>
            <div class="col-7">
              <input class="form-control" placeholder="FTL Type" type="text" formControlName="fTlType">
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Vehicle No:</b></label>
            <div class="col-7">
                <div class="d-flex">
                  <input class="form-control" type="text" placeholder="Vehicle No" formControlName="vehicleNo">
                  <button class="btn background-color text-white ms-2" type="button">
                    Invoke
                  </button>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Registration date:</b></label>
            <div class="col-7">
               <div class="input-group">
                <input type="text" class="form-control uppercase-none" #dp="bsDatepicker" bsDatepicker formControlName="registrationDate"
                  [bsValue]="docketService.bsValue"
                  [bsConfig]="{ containerClass: 'theme-dark-blue' , dateInputFormat: 'DD MMMM YYYY'}"
                  placeholder="Registration date" >
                <span class="input-group-text cursor-pointer" (click)="dp.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Engine No: </b></label>
            <div class="col-7">
              <input class="form-control" placeholder="Engine No" type="text" formControlName="engineNo">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Chassis No:</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="Chassis No" formControlName="chassisNo">
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>RC Book No:</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="RC Book No" formControlName="rcBookNo">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Permit validity Date:</b></label>
            <div class="col-7">
               <div class="input-group">
                <input type="text" class="form-control uppercase-none" #dp="bsDatepicker" bsDatepicker formControlName="permitValidityDate"
                  [bsValue]="docketService.bsValue"
                  [bsConfig]="{ containerClass: 'theme-dark-blue' , dateInputFormat: 'DD MMMM YYYY'}"
                  placeholder="Permit validity Date" >
                <span class="input-group-text cursor-pointer" (click)="dp.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Insurance Validity Date:</b></label>
            <div class="col-7">
               <div class="input-group">
                <input type="text" class="form-control uppercase-none" #dq="bsDatepicker" bsDatepicker formControlName="insuranceValidityDate"
                  [bsValue]="docketService.bsValue"
                  [bsConfig]="{ containerClass: 'theme-dark-blue' , dateInputFormat: 'DD MMMM YYYY'}"
                  placeholder="Insurance Validity Date" >
                <span class="input-group-text cursor-pointer" (click)="dq.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Fitness Validity Date:</b></label>
            <div class="col-7">
              <div class="input-group">
                <input type="text" class="form-control uppercase-none" #dp="bsDatepicker" bsDatepicker formControlName="fitnessValidityDate"
                  [bsValue]="docketService.bsValue"
                  [bsConfig]="{ containerClass: 'theme-dark-blue' , dateInputFormat: 'DD MMMM YYYY'}"
                  placeholder="Fitness Validity Date" >
                <span class="input-group-text cursor-pointer" (click)="dp.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>License No:</b></label>
            <div class="col-7">
               <div class="d-flex">
                   <input class="form-control" placeholder="License No" type="text" formControlName="licenseNo">
                  <button class="btn background-color text-white ms-2" type="button">
                    Invoke
                  </button>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Date of Birth:</b></label>
            <div class="col-7">
              <div class="input-group">
                <input type="text" class="form-control uppercase-none" #dp="bsDatepicker" bsDatepicker formControlName="dateOfBirth"
                  [bsValue]="docketService.bsValue"
                  [bsConfig]="{ containerClass: 'theme-dark-blue' , dateInputFormat: 'DD MMMM YYYY'}"
                  placeholder="Date of Birth" >
                <span class="input-group-text cursor-pointer" (click)="dp.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Issue By RTO:</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="Issue By RTO" formControlName="issueByRTO">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>License validity Date:</b></label>
            <div class="col-7">
              <div class="input-group">
                <input type="text" class="form-control uppercase-none" #dp="bsDatepicker" bsDatepicker formControlName="licenseValidityDate"
                  [bsValue]="docketService.bsValue"
                  [bsConfig]="{ containerClass: 'theme-dark-blue' , dateInputFormat: 'DD MMMM YYYY'}"
                  placeholder="License validity Date" >
                <span class="input-group-text cursor-pointer" (click)="dp.toggle()">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
            <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Business Associate Vendor:</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="Business Associate Vendor" formControlName="businessAssociateVendor">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Location:</b></label>
            <div class="col-7">
              <input class="form-control" type="text" placeholder="Location" formControlName="location">
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>GPS Enabled: </b></label>
            <div class="col-7">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="form-check-input me-4 checkbox-lg" formControlName="gpsEnabled">
                <input class="form-control" placeholder="GPS Provider" type="text" formControlName="gpsProvider">
              </div>
            </div>
          </div>
        </div>
             <div class="col-6">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>Active Flag :</b></label>
            <div class="col-7">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="form-check-input me-4 checkbox-lg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 mt-3">
          <div class="row align-items-center">
            <label class="control-label col-5"><b>License Attachment:</b></label>
            <div class="col-7">
              <input type="file"  class="form-control py-2 pt-2 uppercase-none" formControlName="licenceFile"   (change)="onFileSelected($event)" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-secondary" (click)="closePopup()">Cancel</button> -->
    <button class="btn btn-success px-5" (click)="onSubmit()"> <i class="fas fa-check me-2"></i> Submit</button>
  </div>
</ng-template>
